.form-contact{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    margin-top: 60px;
    gap: 40px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
    font-size: var(--font-size-regular);
    z-index: 5;
}

.input-form{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-color);
    font-weight: 600;
}

.split-input-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px 0px;
}

.split-input{
    width: 100%;
}

.input-form,
.input-form input,
.input-form select,
.input-form textarea,
.input-form .form-submit{
    font-size: var(--font-size-regular);
}

.input-form{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
    font-weight: 600;
    text-align: start;
}

.input-form input{
    border: none;
    outline: none;
    font-family: var(--secondary-color);
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, .6);
    padding: 5px 12px;
    border-radius: 10px;
    transition: all .3s linear;
}

.input-form input:focus-within {
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.input-form input::placeholder{
    opacity: .5;
}

.input-form label{
    opacity: .7;
    pointer-events: none;
    margin-bottom: 5px;
}

.input-form label span{
    color: red;
}

.input-form select{
    padding: 5px 12px;
    border: 2px solid rgba(0, 0, 0, .6);
    outline: none;
    border-radius: 10px;
    font-family: var(--secondary-font);
    appearance: none;
    border: 2px solid rgba(0, 0, 0, .6);
    transition: all .3s linear;
    cursor: pointer;
}

.input-form select:focus {
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}


.input-form textarea{
    font-family: var(--secondary-font);
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
   color: rgba(0, 0, 0, .8);
    resize: vertical;
    transition: all .3s linear;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .6);
}

.input-form textarea:focus {
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.checkbox-container{
    flex-direction: column;
}

.input-checkbox{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.checkbox-container label{
    font-size: var(--font-size-regular);
    position: relative;
    top: 2px;
    margin-left: 5px;
    opacity: .9;
}

.checkbox-container p{
    font-size: calc(var(--font-size-regular) - .1rem);
    opacity: .8;
}

.checkbox-container label a,
.checkbox-container p a{
   color: var(--primary-color);
   cursor: pointer;
   pointer-events: all;
}

.input-form .form-submit{
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: 600;
    border: none;
    color: white;
    box-shadow: -5px 7px 1px rgba(0, 0, 0, 0.2);
    transition: all .2s linear;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.input-form .form-submit:active{
    scale: .96;
}

.input-file-form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.input-file-container{
    position: relative;
    width: 100%;
}

.input-file-form input{
    border: none;
    border-radius: 0px;
    background: transparent;
    appearance: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}

.input-file-form input:focus-within{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.custom-file-upload{
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--decoration-color-gradient);
    color: white;
    font-size: var(--font-size-regular);
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    z-index: 5;
}

.input-file-pointer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: all;
    transition: all .3s linear;
}

.field-error{
    opacity: .6;
    font-weight: 400;
    color: red;
}
