.who-we-are-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-1);
    font-family: var(--primary-font);
    padding: 80px 40px;
    padding-bottom: 40px;
    overflow: hidden;
}

.who-we-are-content{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px; 
    z-index: 5;
    margin-top: 40px;
}

.who-we-are-title{
    font-size: calc(var(--font-size-big) + .5rem);
    font-weight: 600;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.who-we-are-content h3{
    position: relative;
    font-size: var(--font-size-medium);
    font-weight: 400;
    color: var(--primary-color);
    padding: 5px 15px;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: auto;
}

.who-we-are-content h3::after{
    content: '';
    position: absolute;
    display: flex;
    left: 0px;
    bottom: 0px;
    width: 30%;
    height: 50%;
    border-left: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transition: all .5s ease;
    cursor: auto;
}

.who-we-are-content h3::before{
    content: '';
    position: absolute;
    display: flex;
    right: 0px;
    top: 0px;
    width: 30%;
    height: 50%;
    border-right: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
    transition: all .5s ease;
    cursor: auto;
}

.who-we-are-content h3:hover::before,
.who-we-are-content h3:hover::after {
    width: 50%;
    height: 80%;
    border-color: var(--secondary-color);
}

.who-we-are-content p{
    font-size: var(--font-size-regular);
    color: rgba(0, 0, 0, .8);
    line-height: 1.5;
}

.who-we-are-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.who-we-are-content img{
    position: relative;
    width: 90%;
    height: 90%;
    z-index: 0;
}


.who-we-are-img{
    position: absolute;
    width: 140px;
    height: 85px;
    z-index: 0;
    border-radius: 10px;
    z-index: 5;
    object-fit: cover;
    cursor: pointer;
    transition: all .5s ease;
}

.who-we-are-img:hover{
    transform: scale(1.1);
}

.who-we-are-img-1{
    bottom: 120px;
    left: -4%;
}

.who-we-are-img-2{
    bottom: 10px;
    left: 20%;
}

.who-we-are-img-3{
    bottom: 60px;
    left: 70%;
}

.who-we-are-background-1{
    position: absolute;
    right: -50px;
    top: -50px;
    transform: rotate(180deg);
    width: 300px;
    height: 300px;
    opacity: .2;
    z-index: 1;
}

.who-we-are-background-2,
.who-we-are-background-3{
    position: absolute;
    background: var(--decoration-color-gradient);
    border-radius: 50%;
    filter: blur(40px);
    z-index: 0;
    opacity: .3;
    pointer-events: none;
}

.who-we-are-background-2{
    width: 150px;
    height: 150px;
    left: 0%;
    top: 20%;
}

.who-we-are-background-3{
    width: 150px;
    height: 150px;
    right: 0%;
    bottom: 30%;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){

    .who-we-are-content p{
        margin-bottom: 40px;
    }

    .who-we-are-section{
        padding: 80px 50px;
    }

    
    .who-we-are-content img{
        width: 70%;
        height: 70%;
    }

    .who-we-are-img{
        width: 160px;
        height: 105px;
    }
    
    .who-we-are-img-1{
        bottom: 180px;
        left: 5%;
    }
    
    .who-we-are-img-2{
        bottom: 30px;
        left: 10%;
    }
    
    .who-we-are-img-3{
        bottom: 120px;
        left: 70%;
    }

    .who-we-are-background-1{
        right: -80px;
        top: -80px;
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 1024px){

    .who-we-are-section p{
        width: 80%;
    }

    .who-we-are-content img{
        width: 60%;
        height: 60%;
    }

    .who-we-are-img{
        width: 260px;
        height: 150px;
    }
    
    .who-we-are-img-1{
        bottom: 180px;
        left: 5%;
    }
    
    .who-we-are-img-2{
        bottom: 30px;
        left: 15%;
    }
    
    .who-we-are-img-3{
        bottom: 160px;
        left: 70%;
    }

    .who-we-are-background-1{
        right: -80px;
        top: -80px;
        width: 450px;
        height: 450px;
    }

}

@media (min-width: 1280px){
    
    .who-we-are-section p{
        width: 80%;
    }

    .who-we-are-content img{
        width: 50%;
        height: 50%;
    }

    .who-we-are-img{
        width: 300px;
        height: 190px;
    }

    .who-we-are-img-1{
        bottom: 200px;
        left: 5%;
    }
    
    .who-we-are-img-2{
        bottom: 30px;
        left: 10%;
    }
    
    .who-we-are-img-3{
        bottom: 160px;
        left: 70%;
    }
}

@media (min-width: 1920px){

    .who-we-are-section{
        padding: 80px 200px;
    }

    .who-we-are-section p{
        width: 70%;
    }

    .who-we-are-content img{
        width: 40%;
        height: 40%;
    }

    .who-we-are-img-1{
        bottom: 200px;
        left: 10%;
    }
    
    .who-we-are-img-2{
        bottom: 30px;
        left: 20%;
    }

    .who-we-are-background-1{
        right: -30px;
        top: -120px;
        width: 650px;
        height: 650px;
    }
}