<section class="who-we-are-section">

    <div class="who-we-are-content">
        <h2 class="who-we-are-title" data-aos="fade-right">Novatek</h2>
        <h3 data-aos="fade-right">Quienes somos</h3>
        <p data-aos="fade-right">En Novatek, somos una empresa de soluciones tecnológicas comprometida con la innovación y la eficiencia. 
            Nuestra misión es desarrollar herramientas digitales de vanguardia que optimicen procesos, potencien la 
            productividad y mejoren la experiencia de los usuarios. Contamos con un equipo apasionado que convierte los 
            desafíos en oportunidades, ofreciendo tecnología escalable y personalizada para adaptarse a las necesidades 
            en constante evolución de nuestros clientes.
        </p>
        
        <div class="who-we-are-image-container" data-aos="fade-left">
            <img src="/assets/about-us-page/who-we-are/world.svg" alt="" draggable="false" loading="lazy">
        </div>
        
        
    </div>

    
    <img class="who-we-are-background-1" src="/assets/about-us-page/who-we-are/deco-1.svg" alt="" draggable="false" loading="lazy">
    
    <div class="who-we-are-background-2"></div>
    <div class="who-we-are-background-3"></div>

</section>
