.terms-and-conditions {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-1);
    padding: 40px 30px;
    padding-bottom: 80px;
    font-family: var(--primary-font);
    overflow: hidden;
}
