<section class="services-hero-section">

    <div class="services-hero-content">

        <div class="services-hero-title">
            <div class="title" data-aos="fade-right">
                <span></span>
                <p>Novatek</p>
            </div>
            <h2 data-aos="fade-right">Nuestros Servicios</h2>
            <p data-aos="fade-right">
                Impulsados por la innovación y el enfoque en resultados, ofrecemos soluciones digitales 
                personalizadas que se adaptan a tu proyecto. Desde diseño visual hasta desarrollo web y 
                estrategia digital, trabajamos contigo en cada etapa para convertir tus ideas en experiencias reales 
                y efectivas.
            </p>
            <button class="services-hero-button" (click)="scrollTo('services')" data-aos="fade-right">
                <span>Ver servicios</span>
                <img src="/assets/services-page/hero/arrow.svg" alt="" width="10" height="10" draggable="false">
            </button>
        </div>

        <div class="services-hero-img" data-aos="fade-left">
            <img src="/assets/services-page/hero/pc.svg" alt="" width="360" height="240" draggable="false">

            <div class="services-hero-highlight highlight-1">
                <span></span>
                <p>Seguridad y estabilidad 🚀</p>
            </div>

            <div class="services-hero-highlight highlight-2">
                <span></span>
                <p>Diseños 100% responsivos 📱</p>
            </div>

            <div class="services-hero-highlight highlight-3">
                <span></span>
                <p>Estilo visual único 🎨</p>
            </div>

        </div>

    </div>

    <img class="services-hero-deco-1" src="/assets/services-page/hero/Ribbon.svg" alt="" width="300" height="345" draggable="false">
    <img class="services-hero-deco-2" src="/assets/services-page/hero/deco-1.svg" alt="" width="70" height="32" draggable="false">
    <img class="services-hero-deco-3" src="/assets/services-page/hero/deco-1.svg" alt="" width="70" height="32" draggable="false">


    <div class="services-hero-deco-4">
        <img src="/assets/services-page/hero/space.svg" alt="" width="200" height="270" draggable="false">
        <span></span>
    </div>

</section>
