<section class="services-hero-section">

    <div class="services-hero-content">

        <div class="services-hero-title">
            <h2 data-aos="fade-right">Nuestros Servicios</h2>
            <p data-aos="fade-right">
                Impulsados por la innovación, la excelencia y un fuerte enfoque en resultados, brindamos 
                soluciones digitales completamente personalizadas que se ajustan a las particularidades de tu 
                proyecto. Ya sea que necesites un diseño visual impactante, un desarrollo web sólido o una estrategia 
                digital integral, nuestro equipo trabaja de la mano contigo en cada etapa para transformar tus ideas en 
                experiencias reales, efectivas y memorables.
            </p>
            <div class="services-hero-title-img">
                <img src="/assets/services-page/hero/arrow.svg" alt="" draggable="false">
            </div>
        </div>

        <div class="services-hero-presentation">
            <img class="services-hero-circle" src="/assets/services-page/hero/Circle.svg" alt="" draggable="false" data-aos="fade-up">

            <img class="services-hero-img-1" src="/assets/services-page/hero/img-1.jpg" alt="imagen de presentacion" data-aos="fade-up">
            <img class="services-hero-img-2" src="/assets/services-page/hero/img-2.jpg" alt="imagen de presentacion" data-aos="fade-up" data-aos-delay="200">
            <img class="services-hero-img-3" src="/assets/services-page/hero/img-3.jpg" alt="imagen de presentacion" data-aos="fade-up" data-aos-delay="500">
        </div>
    </div>

    <img class="services-hero-deco-1" src="/assets/services-page/hero/Ribbon.svg" alt="" draggable="false">
    <img class="services-hero-deco-2" src="/assets/services-page/hero/deco-1.svg" alt="" draggable="false">
    <img class="services-hero-deco-3" src="/assets/services-page/hero/deco-1.svg" alt="" draggable="false">

</section>
