.contact-form-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-1);
    padding: 40px 20px;
    padding-bottom: 80px;
    font-family: var(--primary-font);
    overflow: hidden;
}

.contact-form-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.contact-form-title{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin: 60px 0px;
    margin-bottom: 100px;
}

.contact-form-title h2{
    font-size: var(--font-size-h2);
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-form-title p{
    font-family: var(--secondary-color);
    opacity: .8;
    font-size: var(--font-size-p);
}

.contact-form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.address-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    z-index: 5;
}

.address-container h2{
    font-size: var(--font-size-h3);
    color: var(--primary-color);
    text-align: center;
}

.address-container p{
    opacity: .8;
    font-size: var(--font-size-p);
}

.address{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    margin-top: 30px;
}

.address img{
    position: relative;
    top: 2px;
    width: 30px;
    height: 30px;
}

.address p{
    font-size: calc(var(--font-size-p) + .1rem);
    opacity: 1;
}

.address-deco{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .1;
}

.contact-cities-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 5;
    text-align: center;
    transition: all .2s linear;
}


.contact-cities-content p{
    font-family: var(--secondary-font);
    font-size: calc(var(--font-size-p) + .4rem);
    font-weight: 600;
    opacity: .8;
}

.contact-cities{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
    flex-wrap: wrap;
    list-style: none;
}

.city-icon{
    position: relative;
    width: 50px;
    height: 50px;
    border-left: 3px solid white;
    transition: all .2s linear;
    cursor: pointer;
}

.city-icon:hover{
    transform: scale(1.1);
}

.contact-cities-content-big-resolution{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px 0px;
    margin-top: 80px;
    z-index: 5;
    text-align: center
}

.contact-section-deco-1,
.contact-section-deco-2{
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 0;
    pointer-events: none;
}

.contact-section-deco-1{
    left: 0%;
    top: 3%;
    opacity: .6;
}

.contact-section-deco-2{
    right: 0%;
    top: 10%;
    filter: brightness(0) saturate(100%) invert(58%) sepia(62%) saturate(1630%) hue-rotate(267deg) brightness(100%) contrast(96%);
}

.form-sent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 0px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin-top: 40px;
    display: none;
}

.form-sent-move-active{
    display: flex;
    animation: sent-move .5s linear forwards;
}

@keyframes sent-move {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.form-sent img{
    width: 30px;
    height: 30px;
}

.form-sent p{
    font-size: var(--font-size-p);
}

.form-sent .form-sent-contact{
    font-size: calc(var(--font-size-p) - .2rem);
    width: 80%;
    opacity: .8;
}

.form-sent span{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid var(--primary-color);
    pointer-events: none;
}

.form-sent-border-active{
    animation: sent-border 1s linear forwards;
}

@keyframes sent-border {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){
    .contact-form-section{
        padding: 40px 40px;
    }
}

@media (min-width: 700px){
    .contact-form-section{
        padding: 40px 80px;
    }

    .contact-form-title{
        margin: 60px 0px;
        margin-bottom: 40px;
    }

    .contact-section-deco-1,
    .contact-section-deco-2{
        position: absolute;
        width: 200px;
        height: 200px;
        z-index: 0;
    }

    .form-sent{
        padding: 20px 30px;
    }

    .form-sent .form-sent-contact{
        font-size: calc(var(--font-size-p) - .2rem);
        width: 100%;
    }
    
}

@media (min-width: 1024px){
    .form-contact{
        padding: 40px 60px;
        width: 80%;
    }

    .split-input-container{
        flex-direction: row;
        gap: 0px 20px;
    }

    .contact-cities{
        gap: 0px 60px;
    }

    .city-icon{
        width: 70px;
        height: 70px;
    }

    .form-sent img{
        width: 40px;
        height: 40px;
    }

    .form-sent span{
        border-bottom: 4px solid var(--primary-color);
    }
}

@media (min-width: 1280px){

    .contact-form-section{
        padding: 40px 120px;
        padding-bottom: 160px;
    }

    .contact-form-title{
        margin: 60px 0px;
        margin-bottom: 100px;
    }

    .contact-form-container{
        flex-direction: row;
        align-items: start;
        gap: 0px 40px;
    }

    .address-container{
        justify-content: start;
        align-items: start;
        width: 50%;
    }

    .address-container h2{
        text-align: start;
    }

    .form-contact{
        padding: 40px 40px;
        width: 50%;
        gap: 30px;
    }

    .split-input-container{
        flex-direction: row;
        gap: 0px 100px;
    }
    
    .input-form,
    .input-form input,
    .input-form select,
    .input-form textarea{
        font-size: calc(var(--font-size-p) - .2rem);
    }

    .contact-cities-content{
        display: none;
    }

    .contact-cities-content-big-resolution{
        display: flex;
    }

    .contact-cities-content-big-resolution p{
        font-weight: 500;
    }

    .contact-cities{
        gap: 30px 60px;
    }

    .city-icon{
        width: 50px;
        height: 50px;
    }

    .contact-section-deco-1,
    .contact-section-deco-2{
        width: 280px;
        height: 280px;
    }

    .contact-section-deco-1{
        left: 5%;
        top: 0%;
    }

    .contact-section-deco-2{
        right: 0%;
        top: 8%;
    }

    .form-sent{
        margin-top: 80px;
    }

}

@media (min-width: 1920px){
    
    .contact-cities-content-big-resolution{
        align-items: start;
    }

    .contact-cities-content-big-resolution p{
        font-weight: 500;
        font-size: calc(var(--font-size-p) + .2rem);
    }

    .city-icon{
        width: 60px;
        height: 60px;
    }

    .input-form .form-submit{
        width: 50%;
    }
} 