<section class="service-list-section">

    <div class="service-list-content">

        <div class="service-list-title">
            <h2>Nuestros Servicios</h2>
            <img src="assets/services-page/service-list/title-divider.svg" alt="" draggable="false">

            <span class="service-list-title-deco service-list-title-deco-1"></span>
            <span class="service-list-title-deco service-list-title-deco-2"></span>
            <span class="service-list-title-deco service-list-title-deco-3"></span>

            <div class="service-list-title-background">
                <img src="/assets/services-page/service-list/background-title.svg" alt="">
            </div>
        </div>

        <div class="service-software-development service">
            <h2><> Desarrollo de Software</h2>
            <p>Creamos soluciones tecnológicas a la medida de las necesidades de tu empresa. Nuestro equipo de 
                expertos desarrolla aplicaciones web y móviles escalables, seguras y eficientes, utilizando las 
                últimas tecnologías para garantizar un rendimiento óptimo.
            </p>
            <div class="service-img-container">
                <img class="service-image" src="assets/services-page/service-list/software.svg" alt="" draggable="false">
            </div>

            <div class="service-deco-background-1"></div>
            <div class="service-deco-background-2"></div>
        
        </div>

        <div class="service-web-development service">
            <h2><> Desarrollo Web</h2>
            <p>Creamos sitios web modernos, funcionales y optimizados para ofrecer la mejor experiencia de usuario. 
                Nos especializamos en el diseño y desarrollo de páginas responsivas, asegurando que se adapten a 
                cualquier dispositivo. Utilizamos tecnologías avanzadas para construir soluciones escalables, seguras y 
                alineadas con las necesidades de cada cliente.
            </p>
            <div class="service-img-container">
                <img class="service-image" src="assets/services-page/service-list/web.svg" alt="" draggable="false">
            </div>

            <div class="service-deco-background-1"></div>
            <div class="service-deco-background-2"></div>

            <img class="service-divider" src="assets/services-page/service-list/title-divider.svg" alt="" draggable="false">
        </div>

        <div class="service-analysis service">
            <h2><> Análisis y Gestión de Datos</h2>
            <p>Transformamos datos en información valiosa para la toma de decisiones estratégicas. Implementamos 
                soluciones de almacenamiento, procesamiento y visualización de datos, asegurando su integridad, seguridad 
                y accesibilidad. Nuestro enfoque optimiza la gestión de grandes volúmenes de información, 
                permitiendo a las empresas extraer insights clave y mejorar su eficiencia operativa.
            </p>
            <div class="service-img-container">
                <img class="service-image" src="assets/services-page/service-list/analysis.svg" alt="" draggable="false">
            </div>

            <div class="service-deco-background-1"></div>
            <div class="service-deco-background-2"></div>
        </div>

        <div class="service-maintenance-support service">
            <h2><> Mantenimiento y Soporte</h2>
            <p> Garantizamos el óptimo funcionamiento de tus sistemas con soporte técnico y mantenimiento continuo. 
                Nos aseguramos de que tu infraestructura tecnológica esté siempre actualizada, segura y operativa, 
                previniendo fallos y optimizando el rendimiento. Nuestro equipo está disponible para resolver 
                incidencias, implementar mejoras y brindar asistencia personalizada según tus necesidades.
            </p>
            <div class="service-img-container">
                <img class="service-image" src="assets/services-page/service-list/maintenance.svg" alt="" draggable="false">
            </div>

            <div class="service-deco-background-1"></div>
            <div class="service-deco-background-2"></div>
            
            <img class="service-divider" src="assets/services-page/service-list/title-divider.svg" alt="" draggable="false">
        </div>

        <div class="service-ui-ux service">
            <h2><> Diseño UI/UX</h2>
            <p>Creamos experiencias digitales intuitivas y atractivas, combinando diseño visual y usabilidad para 
                maximizar la satisfacción del usuario. Nos enfocamos en desarrollar interfaces funcionales y accesibles, 
                garantizando una navegación fluida y una identidad visual coherente que impulse la interacción y el 
                compromiso con tu producto o servicio.
            </p>
            <div class="service-img-container">
                <img class="service-image" src="assets/services-page/service-list/ui-ux.svg" alt="" draggable="false">
            </div>

            <div class="service-deco-background-1"></div>
            <div class="service-deco-background-2"></div>
        </div>

        <div class="service-ai service">
            <h2><> Inteligencia Artificial</h2>
            <p>Implementamos soluciones de Inteligencia Artificial para optimizar procesos, automatizar tareas y 
                mejorar la toma de decisiones. Desde chatbots y análisis predictivo hasta sistemas de recomendación, 
                utilizamos IA para potenciar la eficiencia y la innovación en tu negocio.
            </p>
            <div class="service-img-container">
                <img class="service-image" src="assets/services-page/service-list/ai.svg" alt="" draggable="false">
            </div>

            <div class="service-deco-background-1"></div>
            <div class="service-deco-background-2"></div>

            <img class="service-divider" src="assets/services-page/service-list/title-divider.svg" alt="" draggable="false">
        </div>
    
    </div>

</section>

