.service-list-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    overflow: hidden;
}

.service-list-title{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 80px 20px;
    background: var(--background-color-2);
    gap: 20px;
}

.service-list-title h2{
    font-size: calc(var(--font-size-big) - 1rem);
    z-index: 5;
    color: white;
}    

.service-list-title p{
    width: 80%;
    font-size: calc(var(--font-size-regular) - .1rem); 
    z-index: 5;
    color: white;
} 

.service-list-title img{
    position: relative;
    left: 25%;
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
} 

.service-title-background{
    opacity: .1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-image: url('/assets/services-page/service-list/background-2.svg');
    background-repeat: repeat;
    background-size: 100%;
    pointer-events: none;

}

.service-title-separation{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: var(--background-color-1);
    z-index: 1;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    pointer-events: none;
}

.service{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    padding: 40px 30px;
    padding-top: 60px;
}

.service-divider{
    position: absolute;
    left: 0px;
    bottom: -40px;
    width: 100%;
    height: 40px;
}

.service-subcontainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.service h3{
    font-size: calc(var(--font-size-medium) + .5rem);
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 5;
}

.service p{
    font-size: var(--font-size-regular);
    line-height: 1.5;
    z-index: 5;
}

.service-img-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.service-img-container .service-image{
    width: 200px;
    height: 200px;
    cursor: pointer;
    z-index: 1;
}

.service-img-container .service-image{
    transition: all .5s linear;
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0));
}

.service-image:hover{
    transform: translateY(-10px);
}

.service-web-development,
.service-maintenance-support,
.service-ai{
    background-color: var(--background-color-2);
    color: white;
}

.service-ai{
    margin-bottom: 40px;
}

.service-software-development .service-image:hover{
    filter: drop-shadow(0px 0px 20px #f169fa);
}

.service-web-development .service-image:hover{
    filter: drop-shadow(0px 0px 20px #53ccfc);
}

.service-analysis .service-image:hover{
    filter: drop-shadow(0px 0px 20px #2ae070);
}

.service-maintenance-support .service-image:hover {
    filter: drop-shadow(0px 0px 20px #e21919);
}

.service-ui-ux .service-image:hover{
    filter: drop-shadow(0px 0px 20px #194be2);
}

.service-ai .service-image:hover{
    filter: drop-shadow(0px 0px 20px #9c05ca);
}

.service-deco-background-1,
.service-deco-background-2{
    position: absolute;
    background: var(--decoration-color-gradient);
    border-radius: 50%;
    filter: blur(40px);
    z-index: 0;
    opacity: .4;
}

.service-deco-background-1{
    width: 150px;
    height: 150px;
    left: 0%;
    bottom: 10%;
}

.service-deco-background-2{
    width: 150px;
    height: 150px;
    right: 0%;
    top: 10%;
}

.service-deco-background-3{
    position: absolute;
    width: 200px;
    height: 200px;
    left: -50px;
    bottom: 0px;
    z-index: 0;
    opacity: .3;
}

.service-web-development .service-deco-background-3,
.service-maintenance-support .service-deco-background-3,
.service-ai .service-deco-background-3{
    width: 250px;
    height: 250px;
    left: auto;
    right: -100px;
    bottom: 0px;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){
    
}

@media (min-width: 700px){

    .service-list-title{
        padding: 100px 20px;
        padding-top: 120px;
        gap: 20px;
    }

    .service-list-title img{
        width: 25px;
        height: 25px;
    }

    .service p{
        width: 100%;
        margin-bottom: 30px;
    }

    .service-img-container{
        justify-content: center;
    }

    .service-deco-background-3{
        width: 250px;
        height: 250px;
        left: -100px;
        bottom: 0px;
    }
    
    .service-web-development .service-deco-background-3,
    .service-maintenance-support .service-deco-background-3,
    .service-ai .service-deco-background-3{
        right: -100px;
        bottom: 50px;
    }

}

@media (min-width: 1024px){

    .service-list-title{
        padding: 100px 50px;
        padding-top: 150px;
        gap: 20px;
    }

    .service-list-title p{
        width: 70%;
    }

    .service-list-title img{
        left: 20%;
    }

    .service-list-title h2{
        font-size: calc(var(--font-size-big) - 1.4rem);
    }    

    .service{
        flex-direction: row;
        align-items: center;
        padding: 60px 60px;
    }

    .service-web-development,
    .service-maintenance-support,
    .service-ai{
        flex-direction: row-reverse;
    }

    .service-subcontainer{
        width: 60%;
    }

    .service p{
        font-size: var(--font-size-regular);
        width: 100%;
        margin-bottom: 30px;
    }

    .service-img-container{
        width: 40%;
    }

    .service-img-container .service-image{
        width: 280px;
        height: 280px;
    }

    .service-deco-background-3{
        width: 250px;
        height: 250px;
        left: -100px;
        top: 20%;
    }
    
    .service-web-development .service-deco-background-3,
    .service-maintenance-support .service-deco-background-3,
    .service-ai .service-deco-background-3{
        right: -100px;
        top: auto;
        bottom: 50px;
    }
}

@media (min-width: 1280px){
    
    
    .service-list-title h2{
        top: 30px;
    }

    .service-web-development,
    .service-maintenance-support,
    .service-ai{
        margin-bottom: 40px;
    }
}

@media (min-width: 1920px){

    .service-list-title{
        padding: 120px 100px;
        padding-top: 160px;
        gap: 20px;
    }

    .service-list-title p{
        width: 50%;
    }

    .service-list-title h2{
        top: 30px;
        font-size: calc(var(--font-size-medium) + .4rem);
    }

    .service{
        padding: 80px 20%;
    }

    .service-deco-background-3{
        width: 350px;
        height: 350px;
        left: -100px;
        top: 20%;
    }
    
    .service-web-development .service-deco-background-3,
    .service-maintenance-support .service-deco-background-3,
    .service-ai .service-deco-background-3{
        width: 350px;
        height: 350px;
        right: -150px;
        top: auto;
        bottom: 50px;
    }

} 