@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.hero-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
    padding: 0px 20px;

    background-image: url('/assets/home-section/hero/wave-home-mobile.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    height: 35%;
    position: relative;
    bottom: 0%;
}

.hero-description{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    height: 70%;
    z-index: 5;
}


.hero-novatek{
    font-size: 60px;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, #f169fa, #e58f51);
    -webkit-background-clip: text;
    background-clip: var();
    color: transparent;
}

.hero-intro{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.683);
    width: 80%;
    line-height: 1.5;
}

.hero-cont-button{
    position: relative;
}

.hero-button{
    position: relative;
    background-color: #f169fa;
    outline: none;
    cursor: pointer;
    left: 0px;
    top: 0px;
    border: none;
    color: white;
    width: 100px;
    height: 35px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
    transition: all .2s linear;
    font-size: 13px;
}

.hero-button-deco{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(189, 189, 189);
    z-index: 0;
    transition: all .2s linear;
}

.hero-button:hover{
    left: 2px;
    top: -2px;
}

.hero-button:hover ~ .hero-button-deco{
    top: 4px;
    left: -2px;
}

.hero-wave{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20%;
}

.hero-shape-deco{
    position: absolute;
    height: 60px;
    width: 60px;
    z-index: 0;
}

.hero-shape-deco-1{
    left: 70%;
    top: 30%;
    transform: rotate(40deg);
}

.hero-shape-deco-2{
    left: 10%;
    top: 10%;
    transform: rotate(-20deg) scale(.5);
}

.hero-shape-deco-3{
    left: 50%;
    top: 70%;
    transform: rotate(-40deg) scale(.8);
}