@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-1);
    font-family: var(--primary-font);
    padding: 0px 40px;
    overflow: hidden;
    line-height: 1;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 100%;
    position: relative;
    bottom: 0%;
    gap: 30px 0px;
    z-index: 5;
}

.hero-description{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.hero-novatek{
    position: relative;
    font-size: calc(var(--font-size-h2) + 1rem);
    font-family: var(--primary-font);
    font-weight: 600;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--primary-color);
    line-height: .9;
    margin-bottom: 30px;
}

.hero-intro{
    font-size: var(--font-size-p);
    font-weight: 400;
    opacity: .9;
    width: 80%;
    line-height: 1.5;
}

.hero-cont-button{
    position: relative;
}

.hero-button{
    position: relative;
    background-color: var(--primary-color);
    outline: none;
    cursor: pointer;
    left: 0px;
    top: 0px;
    border: none;
    color: white;
    width: 100px;
    height: 35px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
    transition: all .2s linear;
    font-size: calc(var(--font-size-p) - .3rem);
}

.hero-button-deco{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(189, 189, 189);
    z-index: 0;
    transition: all .2s linear;
}

.hero-button:hover{
    left: 2px;
    top: -2px;
}

.hero-button:hover ~ .hero-button-deco{
    top: 4px;
    left: -2px;
}

.hero-background-deco-1{
    position: absolute;
    right: -50px;
    top: -50px;
    width: 250px;
    height: 250px;
    z-index: 1;
    transform: rotateX(180deg);
    opacity: .7;
    pointer-events: none;
    user-select: none;
}

.hero-background-deco-2,
.hero-background-deco-3{
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 0;
    opacity: .2;
    pointer-events: none;
    user-select: none;
}

.hero-background-deco-2{
    left: 0px;
    top: 20%;
}

.hero-background-deco-3{
    right: 0px;
    bottom: 0px;
}

.hero-background-deco-4{
    position: absolute;
    right: 20%;
    top: 50%;
    width: 200px;
    height: 200px;
    z-index: 1;
    transform: rotateX(180deg);
    opacity: .1;
    pointer-events: none;
    user-select: none;
}

.hero-animation{
    position: absolute;
    right: -100px;
    bottom: -100px;
    width: 400px;
    height: 400px;
    z-index: 0;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    animation: iframe 6s linear forwards;
}

@keyframes iframe{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.hero-divider{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0px;
    left: 0px;
    user-select: none;
    pointer-events: none;
}

.hero-divider img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 399px){

    .hero-button{
        width: 100px;
        height: 30px;
    }

    .hero-background-deco-1{
        width: 220px;
        height: 220px;
        right: -50px;
        top: -30px;
        opacity: .7;
    }

    .hero-animation{
        width: 300px;
        height: 300px;
        right: -40px;
    }

    .hero-divider img {
        height: 200px;
    }
}

@media (min-width: 400px){

}

@media (min-width: 700px){

    .hero-section{
        padding: 0px 40px;
    }

    .hero-button{
        width: 110px;
        height: 40px;
    }

    .hero-background-deco-1{
        width: 350px;
        height: 350px;
        right: -50px;
        top: -50px;
    }

}

@media (min-width: 1024px){

    .hero-section{
        padding: 0px 40px;
    }
    
    .hero-novatek{
        font-size: calc(var(--font-size-h2) + 3rem);
    }

    .hero-intro{
        font-size: calc(var(--font-size-p) + .2rem);
    }

    .hero-button{
        font-size: calc(var(--font-size-p) - .1rem);
    }

    .hero-background-deco-2,
    .hero-background-deco-3{
        width: 250px;
        height: 250px;
    }

    .hero-background-deco-4{
        right: 40%;
    }
}

@media (min-width: 1280px){
    .hero-section{
        padding: 0px 60px;
    }

    .hero-button{
        width: 100px;
        height: 40px;
    }
    
    .hero-button:hover{
        left: 4px;
        top: -4px;
    }
    
    .hero-button:hover ~ .hero-button-deco{
        top: 6px;
        left: -4px;
    }

    .hero-background-deco-1{
        width: 400px;
        height: 400px;
        right: -30px;
        top: -50px;
        opacity: .5;
    }

    .hero-background-deco-2,
    .hero-background-deco-3{
        width: 300px;
        height: 300px;
    }

    .hero-animation{
        width: 500px;
        height: 500px;
    }

}

@media (min-width: 1920px){
    .hero-section{
        padding: 0px 200px;
    }

    .hero-intro{
        margin-bottom: 20px;
        opacity: .9;
        width: 70%;
    }

    .hero-button{
        width: 160px;
        height: 50px;
    }
    
    .hero-button:hover{
        left: 6px;
        top: -6px;
    }
    
    .hero-button:hover ~ .hero-button-deco{
        top: 8px;
        left: -6px;
    }

    .hero-background-deco-1{
        width: 500px;
        height: 500px;
        right: -30px;
        top: -80px;
        opacity: .5;
    }

    .hero-background-deco-2,
    .hero-background-deco-3{
        width: 400px;
        height: 400px;
        opacity: .2;
    }

    .hero-background-deco-2{
        left: -5%;
        top: 10%;
    }

    .hero-background-deco-4{
        right: 50%;
        top: 20%;
        width: 250px;
        height: 250px;
        opacity: .1;
    }
    
    .hero-animation{
        width: 800px;
        height: 800px;
        bottom: -200px;
    }

    .hero-divider img {
        height: 500px;
    }
}