<section class="hero-section">

    <div class="hero-content">

        <div class="hero-description">
            <h1 class="hero-novatek">Novatek</h1>
            <p class="hero-intro">Diseñamos aplicaciones personalizadas y desarrollamos software especializado con 
                el objetivo de brindar soluciones tecnológicas que se ajusten de forma precisa a las necesidades y 
                exigencias particulares de cada cliente. Nuestro enfoque se centra en entender a profundidad tus 
                procesos, para ofrecer herramientas eficientes, escalables y adaptadas a tus objetivos específicos.
            </p>
        </div>
        
        <div class="hero-cont-button">
            <button class="hero-button">VER MAS</button>
            <span class="hero-button-deco"></span>
        </div>
    </div>
    
    <img class="hero-background-deco-1" src="/assets/home-section/hero/hero-background.svg" alt="" draggable="false">

    <img class="hero-background-deco-2" src="/assets/home-section/hero/background-deco.svg" alt="" draggable="false">
    <img class="hero-background-deco-3" src="/assets/home-section/hero/background-deco.svg" alt="" draggable="false">

    <img class="hero-background-deco-4" src="/assets/home-section/hero/hero-background.svg" alt="" draggable="false">

    <iframe loading="lazy" class="hero-animation" src="https://lottie.host/embed/39d0d3aa-2c7a-49ea-b936-5a40c829091f/lWdA5KYT2d.lottie" frameborder="0"></iframe>

    
    <div class="hero-divider">
        <img src="/assets/home-section/hero/wave-divider-2.svg" alt="" draggable="false">   
    </div>

</section>


