<section class="hero-section">

    <div class="hero-content">

        <div class="hero-description">
            <h1 class="hero-novatek"  data-aos="fade-right" data-aos-duration="1000">Novatek</h1>
            <p  class="hero-intro"  data-aos="fade-right" data-aos-duration="1500"  >Diseñamos aplicaciones 
                personalizadas y desarrollamos software especializado para brindar soluciones tecnológicas precisas 
                y adaptadas a las necesidades de cada cliente. Nos enfocamos en comprender tus procesos para ofrecer 
                herramientas eficientes, escalables y alineadas con tus objetivos.
            </p>
        </div>
        
        <div data-aos="fade-right" data-aos-duration="2000" class="hero-cont-button">
            <button class="hero-button">VER MAS</button>
            <span class="hero-button-deco"></span>
        </div>
    </div>
    
    <img class="hero-background-deco-1" src="/assets/home-section/hero/hero-background.svg" alt="" draggable="false">

    <img class="hero-background-deco-2" src="/assets/home-section/hero/background-deco.svg" alt="" draggable="false">
    <img class="hero-background-deco-3" src="/assets/home-section/hero/background-deco.svg" alt="" draggable="false">

    <img class="hero-background-deco-4" src="/assets/home-section/hero/hero-background.svg" alt="" draggable="false">


    <iframe data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" class="hero-animation" src="https://lottie.host/embed/39d0d3aa-2c7a-49ea-b936-5a40c829091f/lWdA5KYT2d.lottie" frameborder="0"></iframe>

    
    <div class="hero-divider">
        <img src="/assets/home-section/hero/wave-divider-2.svg" alt="" draggable="false" width="100" height="100">   
    </div>

</section>


