<section class="hero-section">

    <div class="hero-content">

        <div class="hero-info">
            <div class="hero-description">
                <div class="sign" data-aos="fade-right"> 
                    <img src="/assets/home-section/hero/thunder.svg" alt="icono" draggable="false"> #1 En soluciones tecnologicas
                </div>
                <h1 class="hero-novatek"  data-aos="fade-right" data-aos-duration="1000">Novatek</h1>
                <span data-aos="fade-right" data-aos-duration="1000"></span>
                <p  class="hero-intro"  data-aos="fade-right" data-aos-duration="1500"  >
                    Desarrollamos software personalizado, aplicaciones móviles y soluciones en la nube que impulsan 
                    el crecimiento y la innovación de tu empresa.
                </p>
            </div>

            <div class="hero-cont-button" data-aos="fade-right" data-aos-duration="2000">
                <button class="hero-button-project" [routerLink]="['/Contacto']" >Comenzar Proyecto  <img src="/assets/home-section/hero/arrow.svg" alt="" draggable="false"></button>
                <button class="hero-button-services" [routerLink]="['/Servicios']" >Explorar servicios <img src="/assets/home-section/hero/arrow.svg" alt="" draggable="false"></button>
            </div> 
        </div>

        <div class="hero-cards">
            
            <div class="card" data-aos="fade-left">
                <div class="card-icon">
                    <img src="/assets/home-section/hero/target.svg" alt="" draggable="false">
                </div>
                <h2>Precision</h2>
                <p>Cada línea de código cuenta. Trabajamos con atención al detalle.</p>
                <span class="circle-1"></span>
                <span class="circle-2"></span>
            </div>
            
            <div class="card card-dif" data-aos="fade-left">
                <div class="card-icon">
                    <img src="/assets/home-section/hero/light-bulb.svg" alt="" draggable="false">
                </div>
                <h2>Creatividad</h2>
                <p>Pensamos fuera de la caja para soluciones únicas.</p>
                <span class="circle-1"></span>
                <span class="circle-2"></span>
            </div>
            
            <div class="card" data-aos="fade-left">
                <div class="card-icon">
                    <img src="/assets/home-section/hero/thunder.svg" alt="" draggable="false">
                </div>
                <h2>Confianza</h2>
                <p>Transparencia total en cada etapa del proyecto.</p>
                <span class="circle-1"></span>
                <span class="circle-2"></span>
            </div>
        </div>
    </div>


    <div class="hero-deco-1"></div>

    <svg  class="hero-deco-2" xmlns="http://www.w3.org/2000/svg"><defs><pattern id="a" width="15" height="15" patternTransform="scale(2)" patternUnits="userSpaceOnUse"><rect width="100%" height="100%" fill="#2b2b31" fill-opacity="0"/><path fill="none" stroke="#000" d="M10 0v20ZM0 10h20Z"/></pattern></defs><rect width="800%" height="800%" fill="url(#a)"/></svg>

    <div class="hero-deco-3"></div>

    <img class="hero-deco-4" src="/assets/home-section/hero/forms.svg" alt="" draggable="false">

    <div class="hero-deco-5 icon-1">
        <img src="/assets/home-section/hero/rocket.svg" alt="" draggable="false">
    </div>

    <div class="hero-deco-5 icon-2">
        <img src="/assets/home-section/hero/global.svg" alt="" draggable="false">
    </div>

    <div class="hero-deco-5 icon-3">
        <img src="/assets/home-section/hero/cpu.svg" alt="" draggable="false">
    </div>

    <div class="hero-deco-6"></div>

</section>
