<footer class="footer-section">
    
    <div class="footer-section-cont">
        
        <div class="footer-section-logo">
            <h2>Novatek <img src="/assets/header/logo.svg" alt="Novatek logo" draggable="false"></h2>
            <p>Innovación y tecnología que te llevan al futuro.</p>
        </div>

        <address class="footer-section-contact">
            <h3>Contáctanos</h3>
            <div class="footer-section-contact-data">
                <img class="footer-section-social-icon" src="/assets/footer/phone.svg" alt="social-web">
                <p>+55 555 555 5555</p>
            </div>
            <div class="footer-section-contact-data">
                <img class="footer-section-social-icon" src="/assets/footer/email.svg" alt="Correo electrónico">
                <p>novatek-business&#64;gmail.com</p>
            </div>
        </address>

        <nav class="footer-section-pages" aria-label="Enlaces del sitio">
            <p><a href="javascript:void(0);"><span>I</span>nicio <img                 src="/assets/footer/arrow-link.svg" alt="pagina inicio"></a></p>
            <p><a href="javascript:void(0);"><span>N</span>osotros <img               src="/assets/footer/arrow-link.svg" alt="pagina nosotros"></a></p>
            <p><a href="javascript:void(0);"><span>S</span>ervicios <img              src="/assets/footer/arrow-link.svg" alt="pagina servicios"></a></p>
            <p><a href="javascript:void(0);"><span>C</span>ontacto <img               src="/assets/footer/arrow-link.svg" alt="pagina contacto"></a></p>
            <p><a href="javascript:void(0);"><span>T</span>rabaja con nosotros <img   src="/assets/footer/arrow-link.svg" alt="pagina trabaja con nosotros"></a></p>
        </nav>

        <div class="footer-section-social">
            <a href="javascript:void(0);"><img class="footer-section-social-icon" src="/assets/footer/facebook.svg"   alt="Facebook"></a>
            <a href="javascript:void(0);"><img class="footer-section-social-icon" src="/assets/footer/linkedin.svg"   alt="LinkedIn"></a>
            <a href="javascript:void(0);"><img class="footer-section-social-icon" src="/assets/footer/twitter.svg"    alt="Twitter"></a>
            <a href="javascript:void(0);"><img class="footer-section-social-icon" src="/assets/footer/instagram.svg"  alt="Instagram"></a>
        </div>
        
        <div class="footer-section-copyright">
            <p>© 2022 Novatek. Todos los derechos reservados.</p>
            <p class="footer-section-copyright-message">
                Este sitio web representa una empresa ficticia creada con fines de aprendizaje y práctica de desarrollo web.
            </p>
        </div>
    
    </div>

    <div class="footer-section-deco-background-1"></div>
    <div class="footer-section-deco-background-2"></div>
    
</footer>