<footer class="footer-section">
    
    <div class="footer-section-cont">
        
        <div class="footer-section-logo">
            <h2>Novatek <img src="/assets/header/logo.svg" alt="Novatek logo" width="35" height="35" draggable="false" loading="lazy"></h2>
            <p>Innovación y tecnología que te llevan al futuro.</p>
        </div>
        
        <div class="footer-section-info">

            <address class="footer-section-contact">
                <h3>Contáctanos</h3>
                <div class="footer-section-contact-data">
                    <img class="footer-section-social-icon" src="/assets/footer/phone.svg" alt="social-web" width="20" height="20" loading="lazy">
                    <p>+55 555 555 5555</p>
                </div>
                <div class="footer-section-contact-data">
                    <img class="footer-section-social-icon" src="/assets/footer/email.svg" alt="Correo electrónico" width="20" height="20" loading="lazy">
                    <p>novatek-business&#64;gmail.com</p>
                </div>

                <div class="footer-section-contact-data footer-section-contact-data-schedule">
                    <div class="schedule-container">
                        <img class="footer-section-social-icon" src="/assets/footer/clock.svg" alt="Horario de atencion" width="20" height="20" loading="lazy">
                        <p>Horario de atencion al cliente:</p>
                    </div>
                    <p class="schedule">Lunes a Viernes de 9:00 a 18:00</p>
                </div>
            </address>

            <nav class="footer-section-pages" aria-label="Enlaces del sitio">
                <h3>Sobre Nosotros</h3>
                
                <p><a href="javascript:void(0);" 
                    [routerLink]="['/Inicio']">
                    <span>I</span>nicio 
                    <img src="/assets/footer/arrow-link.svg" alt="pagina inicio" width="12" height="12" loading="lazy"></a>
                </p>
                
                <p><a href="javascript:void(0);" 
                    [routerLink]="['/Nosotros']">
                    <span>N</span>osotros 
                    <img src="/assets/footer/arrow-link.svg" alt="pagina nosotros" width="12" height="12" loading="lazy"></a>
                </p>
                
                <p><a href="javascript:void(0);" 
                    [routerLink]="['/Servicios']">
                    <span>S</span>ervicios 
                    <img src="/assets/footer/arrow-link.svg" alt="pagina servicios" width="12" height="12" loading="lazy"></a>
                </p>
                
                <p><a href="javascript:void(0);" 
                    [routerLink]="['/Contacto']">
                    <span>C</span>ontacto 
                    <img src="/assets/footer/arrow-link.svg" alt="pagina contacto" width="12" height="12" loading="lazy"></a>
                </p>
                
                <p><a href="javascript:void(0);" 
                    [routerLink]="['/Trabaja-con-nosotros']">
                    <span>T</span>rabaja con nosotros 
                    <img src="/assets/footer/arrow-link.svg" alt="pagina trabaja con nosotros" width="12" height="12" loading="lazy"></a>
                </p>
            </nav>

            <div class="footer-section-pages footer-section-legal">
                <h3>Legal</h3>
                <p><a href="javascript:void(0);" 
                    [routerLink]="['/Politica-de-privacidad']">
                    Politica de privacidad
                    <img src="/assets/footer/arrow-link.svg" alt="pagina Politica de privacidad" width="12" height="12" loading="lazy"></a>
                </p>

                <p><a href="javascript:void(0);" 
                    [routerLink]="['/Terminos-y-condiciones']">
                    Términos y condiciones
                    <img src="/assets/footer/arrow-link.svg" alt="pagina Términos y condiciones" width="12" height="12" loading="lazy"></a>
                </p>

                <p><a href="javascript:void(0);" 
                    [routerLink]="['/Politica-de-cookies']">
                    Politica de cookies
                    <img src="/assets/footer/arrow-link.svg" alt="pagina Términos y condiciones" width="12" height="12" loading="lazy"></a>
                </p>
            </div>

        </div>

    </div>

    <div class="footer-section-social">
        <a href="javascript:void(0);"><img class="footer-section-social-icon" src="/assets/footer/facebook.svg"   alt="Facebook"    width="30" height="30" loading="lazy"></a>
        <a href="javascript:void(0);"><img class="footer-section-social-icon" src="/assets/footer/linkedin.svg"   alt="LinkedIn"    width="30" height="30" loading="lazy"></a>
        <a href="javascript:void(0);"><img class="footer-section-social-icon" src="/assets/footer/twitter.svg"    alt="Twitter"     width="30" height="30" loading="lazy"></a>
        <a href="javascript:void(0);"><img class="footer-section-social-icon" src="/assets/footer/instagram.svg"  alt="Instagram"   width="30" height="30" loading="lazy"></a>
    </div>

    <div class="footer-section-copyright">
        <p>© 2022 Novatek. Todos los derechos reservados.</p>
        <p class="footer-section-copyright-message">
            Este sitio web representa una empresa ficticia creada con fines de aprendizaje y práctica de desarrollo web.
        </p>
    </div>

    <div class="footer-section-deco-background-1"></div>
    <div class="footer-section-deco-background-2"></div>
    
</footer>