.footer-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--background-color-2);
    font-family: var(--primary-font);
    padding: 50px 40px;
    overflow: hidden;
    gap: 40px 0px;
}

.footer-section-cont{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    gap: 50px 0px;
}

.footer-section-logo{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.footer-section-logo h2{
    font-size: var(--font-size-big);
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-section-logo h2 img{
    position: relative;
    top: 5px;
    width: 35px;
    height: 35px;
}

.footer-section-logo p{
    font-size: var(--font-size-regular);
    color: white;
    width: 70%;
    font-family: var(--secondary-font);

}

.footer-section-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    gap: 50px 0px;
}

address{
    font-style: normal;
}

.footer-section-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px 0px;
}

.footer-section-contact h3{
    font-size: var(--font-size-medium);
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-section-contact-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section-contact-data-schedule{
    flex-direction: column;
}

.schedule-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule{
    position: relative;
    left: 15px;
}

.footer-section-contact-data img{
    width: 20px;
    height: 20px;
}

.footer-section-contact-data p{
    font-size: calc(var(--font-size-regular) - .1rem);
    color: white;
    padding-left: 10px;
}

.footer-section-pages{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    color: white;
    
}

.footer-section-pages p{
    font-size: var(--font-size-regular);
    font-weight: 400;
    margin-bottom: 10px;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all .3s ease;
}

.footer-section-pages a{
    font-size: var(--font-size-regular);
    text-decoration: none;
    color: white;
}

.footer-section-pages p:hover {
    border-bottom: 2px solid white;
}

.footer-section-pages p span{
    font-size: var(--font-size-regular);
    font-weight: 700;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-section-pages p img{
    position: relative;
    left: 5px;
    width: 12px;
    height: 12px;
}

.footer-section-social{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section-social-icon{
    width: 30px;
    height: 30px;
    transition: all .3s ease;
    cursor: pointer;
}

.footer-section-social-icon:hover{
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px var(--secondary-color));
}

.footer-section-copyright{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    color: rgba(255, 255, 255, .7);
}

.footer-section-copyright p{
    font-size: var(--font-size-regular);
}

.footer-section-copyright-message{
    color: rgba(255, 255, 255, .4);
    font-size: var(--font-size-small) !important;
}

.footer-section-deco-background-1,
.footer-section-deco-background-2{
    position: absolute;
    background: var(--decoration-color-gradient);
    border-radius: 50%;
    filter: blur(60px);
    z-index: 0;
    opacity: .5;
}

.footer-section-deco-background-1{
    width: 200px;
    height: 200px;
    right: -10%;
    bottom: 0%;
}

.footer-section-deco-background-2{
    width: 150px;
    height: 150px;
    left: 0%;
    top: 10%;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){
    .footer-section{
        padding: 50px 60px;
    }

}

@media (min-width: 1024px){
    .footer-section-cont{
        gap: 50px 0px;
    }

    .footer-section-contact-data-schedule{
        flex-direction: column;
    }
    
    .schedule-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-section-info{
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }

    .footer-section-pages{
        width: 100%;
    }
    
    .footer-section-social{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0px 80px;
    }

    .footer-section-social-icon{
        width: 35px;
        height: 35px;
    }

    .footer-section-deco-background-1{
        width: 200px;
        height: 200px;
        right: 0%;
        bottom: 10%;
    }
}

@media (min-width: 1280px){

    .footer-section-pages p img{
        left: 10px;
        width: 18px;
        height: 18px;
    }

    .footer-section-contact-data img{
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 1920px){
    .footer-section{
        padding: 80px 160px;
        gap: 60px 0px;
    }
    
} 