<section class="overview-section">

    <div class="overview-title-content" data-aos="fade-up">
        <h1 class="overview-title">
            ¡Nuestras soluciones!
        </h1>

        <p>
            Servicios diseñados para mejorar tu infraestructura tecnológica, 
            optimizar tus procesos y ayudarte a alcanzar tus objetivos con soluciones innovadoras, eficientes y 
            adaptadas a las necesidades de tu negocio.
        </p>
          
    </div>

    <div class="overview-services-content">
        <app-card data-aos="fade-right" class="app-card"
        icon="/assets/home-section/overview/gear.svg"
        title="Soporte y"
        titleColor="Mantenimiento"
        description="Aseguramos que tu infraestructura tecnológica funcione sin problemas, brindando soporte técnico rápido y eficiente.">
        </app-card>

        <app-card data-aos="fade-left" class="app-card"
        icon="/assets/home-section/overview/web-development.svg"
        title="Desarrollo"
        titleColor="Web"
        description="Creamos sitios web personalizados y responsivos que se adaptan a las necesidades de tu negocio.">
        </app-card>

        <app-card data-aos="fade-right" class="app-card"
        icon="/assets/home-section/overview/cloud.svg"
        title="Soluciones en la"
        titleColor="Nube"
        description="Optimiza tus procesos con la implementación y gestión de soluciones basadas en la nube.">
        </app-card>

        <app-card data-aos="fade-left" class="app-card"
        icon="/assets/home-section/overview/ai.svg"
        title="Inteligencia"
        titleColor="Artificial"
        description="Potencia tu negocio con soluciones basadas en IA, optimizando procesos y mejorando la toma de decisiones">
        </app-card>

        <app-card data-aos="fade-right" class="app-card"
        icon="/assets/home-section/overview/security.svg"
        title="Seguridad"
        titleColor="Informática"
        description="Protegemos tus sistemas y datos contra amenazas digitales con soluciones de ciberseguridad adaptadas a tu empresa.">
        </app-card>

        <app-card data-aos="fade-left" class="app-card"
        icon="/assets/home-section/overview/consultancy.svg"
        title="Consultoría"
        titleColor="Tecnológica"
        description="Te guiamos en la transformación digital de tu negocio, ayudándote a tomar decisiones estratégicas basadas en tecnología.">
        </app-card>
    </div>

    <div class="overview-section-background-deco-1">
        <img src="/assets/home-section/overview/ribbon.svg" alt="" loading="lazy" draggable="false">
    </div>

    <img class="overview-section-background-deco-2" src="/assets/home-section/overview/deco-1.svg" alt="" loading="lazy" draggable="false">
    <img class="overview-section-background-deco-3" src="/assets/home-section/overview/deco-1.svg" alt="" loading="lazy" draggable="false">
    <img class="overview-section-background-deco-4" src="/assets/home-section/overview/deco-1.svg" alt="" loading="lazy" draggable="false">

</section>
