<section class="overview-section">


    <div class="overview-title-cont">
        <h1 class="overview-title">
            Lo que <span>ofrecemos</span>
        </h1>
    </div>

    <div class="overview-services-cont">
        <app-card class="app-card"
        icon="/assets/home-section/overview/gear.svg"
        title="Soporte y"
        titleColor="Mantenimiento"
        description="Aseguramos que tu infraestructura tecnológica funcione sin problemas, brindando soporte técnico rápido y eficiente.">
        </app-card>
       
    </div>
    
    
        
    <div class="overview-wave-background">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" class="shape-fill"></path>
        </svg>
    </div>


</section>
