<section class="overview-section">


    <div class="overview-title-content">
        <h1 class="overview-title">
            ¡Nuestras soluciones!
        </h1>

        <p>
            Servicios diseñados para mejorar tu infraestructura tecnológica, 
            optimizar tus procesos y ayudarte a alcanzar tus objetivos con soluciones innovadoras, eficientes y 
            adaptadas a las necesidades de tu negocio.
        </p>
          
    </div>

    <div class="overview-services-content">
        <app-card class="app-card"
        icon="/assets/home-section/overview/gear.svg"
        title="Soporte y"
        titleColor="Mantenimiento"
        description="Aseguramos que tu infraestructura tecnológica funcione sin problemas, brindando soporte técnico rápido y eficiente.">
        </app-card>

        <app-card class="app-card"
        icon="/assets/home-section/overview/web-development.svg"
        title="Desarrollo"
        titleColor="Web"
        description="Creamos sitios web personalizados y responsivos que se adaptan a las necesidades de tu negocio.">
        </app-card>

        <app-card class="app-card"
        icon="/assets/home-section/overview/cloud.svg"
        title="Soluciones en la"
        titleColor="Nube"
        description="Optimiza tus procesos con la implementación y gestión de soluciones basadas en la nube.">
        </app-card>

        <app-card class="app-card"
        icon="/assets/home-section/overview/ai.svg"
        title="Inteligencia"
        titleColor="Artificial"
        description="Potencia tu negocio con soluciones basadas en IA, optimizando procesos y mejorando la toma de decisiones">
        </app-card>
    </div>

    <div class="overview-wave-background">
        <svg  data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" aria-hidden="true">
            <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" class="shape-fill"></path>
        </svg>
    </div>

    <div class="overview-section-background-deco-1"></div>
    <div class="overview-section-background-deco-2"></div>
    <div class="overview-section-background-deco-3"></div>
    
    <div class="overview-section-background-deco-4"></div>
    <div class="overview-section-background-deco-5"></div>

    

</section>
