.overview-section{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(219, 242, 246);
    font-family: 'Cabin', sans-serif;
    padding: 0px 20px;
    padding-bottom: 50px;
    overflow: hidden;
}

.overview-title-cont{
    width: 100%;
    height: 20%;
    z-index: 5;
    padding-top: 150px;
    padding-bottom: 50px;
}

.overview-title{
    font-size: 28px;
}

.overview-title span{
    color: #9524C7;
}

.overview-services-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    z-index: 5;
}

.app-card{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}

.overview-background-shape{
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 1;
    opacity: .1;
}

.overview-background-shape-1{
    top: 10%;
    left: 50%;
}

.overview-background-shape-2{
    top: 50%;
    left: 0%;
}

.overview-background-shape-3{
    top: 70%;
    left: 50%;
}

.overview-wave-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.overview-wave-background svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 204px;
}

.overview-wave-background .shape-fill {
    fill: #9524C7;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .overview-wave-background svg {
        width: calc(152% + 1.3px);
        height: 158px;
    }
}