<header class="header" [class.hide-scroll]="hideScroll">
    
    <div class="header-content">
        <div class="header-info">
            <h1 class="header-logo-text">Novatek</h1>
            <img class="header-logo-deco" src="/assets/header/logo.svg" width="30px" height="30px" alt="logo" draggable="false">
        </div>

        <nav class="navbar navbar-resolution" [class.navbar-active]="navbarActive">
            <ul class="navbar-list">
                <li><a [routerLink]="['/Inicio']"               routerLinkActive="header-active" (click)="closeNavbar()">Inicio</a></li>
                <li><a [routerLink]="['/Nosotros']"             routerLinkActive="header-active" (click)="closeNavbar()">Nosotros</a></li>
                <li><a [routerLink]="['/Servicios']"            routerLinkActive="header-active" (click)="closeNavbar()">Servicios</a></li>
                <li><a [routerLink]="['/Contacto']"             routerLinkActive="header-active" (click)="closeNavbar()">Contacto</a></li>
                <li><a [routerLink]="['/Trabaja-con-nosotros']" routerLinkActive="header-active" (click)="closeNavbar()">Trabaja con nosotros</a></li>
            </ul>
    
            
            <ul class="navbar-social">
                <li><a href="#"><img class="navbar-social-icon" src="/assets/footer/facebook.svg"   alt="Facebook"></a></li>
                <li><a href="#"><img class="navbar-social-icon" src="/assets/footer/linkedin.svg"   alt="LinkedIn"></a></li>
                <li><a href="#"><img class="navbar-social-icon" src="/assets/footer/twitter.svg"    alt="Twitter"></a></li>
                <li><a href="#"><img class="navbar-social-icon" src="/assets/footer/instagram.svg"  alt="Instagram"></a></li>
            </ul>
    
            <div class="navbar-deco-background-1"></div>
            <div class="navbar-deco-background-2"></div>
    
            
            <button (click)="activeNavbar()" class="close-navbar-button" aria-label="Cerrar menú">
                <img src="/assets/header/close.svg" alt="Cerrar menú" draggable="false">
            </button>
        </nav>
        
        <button (click)="activeNavbar()" class="navbar-button" aria-label="Abrir menú">
            <img src="/assets/header/burger-menu-icon.svg" alt="Ícono de menú" draggable="false">
        </button>
        
    </div>
</header>

