.header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: var(--background-color-1);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .3);
    z-index: 10;
    transition: all .2s linear;
    font-family: var(--primary-font);
}

.header-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.header-info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    gap: 3px;
    cursor: pointer;
    user-select: none;
}

.header-logo-text{
    position: relative;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--font-size-medium);
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    transition: all .5s ease;
}

.header-logo-deco{
    width: 35px;
    height: 35px;
    transition: all .5s ease;
    aspect-ratio: 1 / 1;
}

.navbar-button{
    background-color: transparent;
    border: none;
}

.navbar-button img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    right: 0px;
    top: 0px;
    width: 100%;
    right: -100%;
    height: 100vh;
    background-color: rgba(10, 22, 39, .9);
    padding: 50px 20px;
    padding-left: 50px;
    padding-top: 70px;
    z-index: 11;
    backdrop-filter: blur(20px);
    transition: all .3s linear;
}

.navbar-active{
    top: 0%;
    right: 0%;
}

.navbar-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.navbar-list li a{
    position: relative;
    font-size: var(--font-size-regular);
    font-weight: 600;
    color: white;
    transition: all .5s ease;
    cursor: pointer;
    text-decoration: none;
}

.navbar-list li a:hover{
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 20px var(--primary-color);
}

.navbar li a::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 0%;
    border-bottom: 2px solid rgba(255, 255, 255, .9);
    transition: all .5s ease;
}

.navbar li a:hover::before{
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
}

.navbar-social{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    list-style: none;
}

.navbar-social-icon{
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: all .5s ease;
}

.navbar-social-icon:hover{
    transform: scale(1.2);
}

.close-navbar-button{
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.close-navbar-button img{
    width: 28px;
    height: 28px;
}


.navbar-deco-background-1,
.navbar-deco-background-2{
    position: absolute;
    background: var(--decoration-color-gradient);
    border-radius: 50%;
    filter: blur(40px);
    z-index: 0;
    opacity: .2;
    pointer-events: none;
}

.navbar-deco-background-1{
    width: 150px;
    height: 150px;
    left: 0%;
    bottom: 10%;
}

.navbar-deco-background-2{
    width: 150px;
    height: 150px;
    right: 0%;
    top: 10%;
}

header.hide-scroll{
    transform: translateY(-100%);
    box-shadow: none;
}

.navbar-cta{
    display: none;
    position: relative;
    font-size: calc(var(--font-size-regular) - .2rem);
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

.navbar-cta::after{
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    width: 0px;
    height: 100%;
    background-color: white;
    transition: all .2s linear;
    opacity: 0;
}

.navbar-cta:hover::after{
    width: 100%;
    opacity: .3;
}


@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){
    
    .header-content{
        justify-content: space-between;
        padding: 10px 40px;
    }

    .header-logo-deco{
        width: 50px;
        height: 50px;
    }
    
    .navbar{
       padding: 80px 20px;
       padding-left: 50px;
    }

    .navbar-button img{
        width: 35px;
        height: 35px;
    }

    .header-logo-text{
        font-size: calc(var(--font-size-medium) + .2rem) ;
    }

    .navbar-list li a{
        font-size: calc(var(--font-size-regular) + .6rem) ;
    }

    .navbar-social{
        margin-top: 0px;
    }

    .navbar-social-icon{
        width: 38px;
        height: 38px;
    }
    
    .navbar-active{
        width: 60%;
    }
    
}

@media (min-width: 1024px){

    .header-content{
        justify-content: space-around;
        padding: 10px 0px;
    }

    .header-logo-deco{
        width: 55px;
        height: 55px;
    }
    
    .navbar-resolution{
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        inset: auto;
        background: transparent;
        height: auto;
        width: auto;
        padding: 0px;
    }

    .navbar-list{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }
    
    .navbar-list li a{
        position: relative;
        font-size: calc(var(--font-size-regular) + .1rem);
        color: black;
        opacity: .7;
        font-weight: 400;
    }

    .navbar-list li a:hover{
        background: var(--text-color-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: none;
    }

    .navbar-social{
        display: none;
    }

    .navbar-button{
        display: none;
    }

    .close-navbar-button{
        display: none;
    }

    .navbar-deco-background-1,
    .navbar-deco-background-2{
        display: none;
    }

    .navbar-cta{
        display: block;
    }
}

@media (min-width: 1280px){
    .header-content{
        justify-content: space-between;
        padding: 0px 50px;
    }

    .header-logo-deco{
        width: 50px;
        height: 50px;
    }

    .navbar-list li a{
        font-size: calc(var(--font-size-regular) - .2rem);
        opacity: .7;
    }

    .navbar-list li a:hover{
        font-size: calc(var(--font-size-regular) - .2rem);
    }

    .navbar li a::before{
        bottom: 0px;
    }
}

@media (min-width: 1920px){
    .header-content{
        justify-content: space-around;
        padding: 0px 0px;
        gap: 200px;
    }

    .navbar-list{
        gap: 60px;
    }
    
    .navbar-list li a{
        font-size: calc(var(--font-size-regular));
    }

    .navbar-list li a:hover{
        font-size: calc(var(--font-size-regular));
    }

} 