<section class="history-section">

    <img class="history-wave" src="/assets/about-us-page/history/wave.svg" alt="" draggable="false" loading="lazy">
    

    <div class="history-section-content">
        <h3>¡Nuestra Historia!</h3>
        <p>
            Con más de 10 años de experiencia, Novatek ha revolucionado la integración tecnológica en las empresas. 
            Desde 2014, nos especializamos en soluciones innovadoras para optimizar productividad y eficiencia.

            A lo largo de los años, hemos evolucionado con la tecnología, incorporando IA, automatización y seguridad 
            digital. Nuestro enfoque en la innovación nos ha permitido colaborar con diversas industrias, adaptándonos 
            a sus necesidades.

            Hoy seguimos liderando con soluciones escalables y eficientes, impulsando el crecimiento de nuestros clientes 
            en la era digital. 🚀
        </p>

        <div class="history-section-icons">
            <img src="/assets/about-us-page/history/trophy.svg" alt=""  loading="lazy">
            <img src="/assets/about-us-page/history/team.svg" alt=""    loading="lazy">
            <img src="/assets/about-us-page/history/rise.svg" alt=""    loading="lazy">
        </div>
    </div>
</section>
