.history-section{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    padding: 40px 30px;
    overflow: hidden;
}

.history-wave{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

.history-section-content{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    z-index: 5;
    gap: 40px;
}

.history-section-content h2{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.history-section-content p{
    font-size: 16px;
    color: white;
    line-height: 1.5;
}
