<section class="footer-section">
    
    <footer class="footer-section-cont">
        
        <div class="footer-section-logo">
            <h2>Novatek</h2>
            <p>Innovación y tecnología que te llevan al futuro.</p>
        </div>

        <div class="footer-section-contact">
            <h3>Contactanos</h3>
            <div class="footer-section-contact-data">
                <img class="footer-section-social-icon" src="/assets/footer/phone.svg" alt="social-web" draggable="false">
                <p>+57 555 555 5555</p>
            </div>
            <div class="footer-section-contact-data">
                <img class="footer-section-social-icon" src="/assets/footer/email.svg" alt="social-web" draggable="false">
                <p>novatek-bussines&#64;gmail.com</p>
            </div>
           
        </div>

        <div class="footer-section-pages">
            <p><span>I</span>nicio  <img src="/assets/footer/arrow-link.svg" alt="arrow-link"></p>
            <p><span>N</span>ostros  <img src="/assets/footer/arrow-link.svg" alt="arrow-link"></p>
            <p><span>S</span>ervicios  <img src="/assets/footer/arrow-link.svg" alt="arrow-link"></p>
            <p><span>C</span>ontacto  <img src="/assets/footer/arrow-link.svg" alt="arrow-link"></p>
            <p><span>T</span>rabaja con nosotros  <img src="/assets/footer/arrow-link.svg" alt="arrow-link"></p>
        </div>

        <div class="footer-section-social">
            <img class="footer-section-social-icon" src="/assets/footer/facebook.svg" alt="social-web" draggable="false">
            <img class="footer-section-social-icon" src="/assets/footer/linkedin.svg" alt="social-web" draggable="false">
            <img class="footer-section-social-icon" src="/assets/footer/twitter.svg" alt="social-web" draggable="false">
            <img class="footer-section-social-icon" src="/assets/footer/instagram.svg" alt="social-web" draggable="false">
        </div>
        
        <div class="footer-section-copyright">
            <p>© 2022 Novatek. Todos los derechos reservados.</p>
            <p class="footer-section-copyright-message">Este sitio web representa una empresa ficticia creada con fines de aprendizaje y práctica de desarrollo web.</p>
        </div>
    
    </footer>

    <div class="footer-section-deco-background-1"></div>
    <div class="footer-section-deco-background-2"></div>
    
</section>