<section class="home-contact-section">
    <div class="home-contact-section-cont">
        <h2 class="home-contact-title">¡Queremos oirte!</h2>
        <button class="home-contact-button">Contactanos</button>

        <img class="home-contact-section-deco-rocket" src="/assets/home-section/contact/rocket.svg" alt="img-rocket">
        <img class="home-contact-section-deco-planet" src="/assets/home-section/contact/planet.svg" alt="img-planet">
    </div>

    <div class="home-contact-stars home-contact-star-1"></div>
    <div class="home-contact-stars home-contact-star-2"></div>
    <div class="home-contact-stars home-contact-star-3"></div>
    <div class="home-contact-stars home-contact-star-4"></div>
    <div class="home-contact-stars home-contact-star-5"></div>
    
    <div class="home-contact-stars home-contact-star-6"></div>
    <div class="home-contact-stars home-contact-star-7"></div>
    <div class="home-contact-stars home-contact-star-9"></div>
    

</section>
