.contact-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    padding: 50px 20px;
    overflow: hidden;
}

.contact-section-content{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 100px 0px;
    background-color: #420252;
    border-radius: 20px;
    overflow: hidden;
}

.contact-description{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 70%;
}

.contact-title{
    position: relative;
    font-size: calc(var(--font-size-big) - .7rem);
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 5;
}

.contact-description p{
    font-family: var(--primary-font);
    font-size: var(--font-size-regular);
    color: white;
    z-index: 5;
    margin-bottom: 30px;
}

.contact-button{
    position: relative;
    left:0px;
    top: 0px;
    background: transparent;
    outline: none;
    color: white;
    border: 2px solid white;
    font-size: var(--font-size-regular);
    font-family: var(--primary-font);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .3s ease-in;
    cursor: pointer;
    z-index: 5;
}

.contact-button:hover{
    top: -10px;

}

.contact-deco-1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 0;
    pointer-events: none;
}

.contact-deco-1 svg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: .05;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(307deg) brightness(103%) contrast(101%);
}

.contact-deco-1-block{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(to bottom, #420252 20%, transparent 100%);
    z-index: 1;
}

.contact-deco-2,
.contact-deco-3,
.contact-deco-4,
.contact-deco-5{
    position: absolute;
    pointer-events: none;
    opacity: .8;
}

.contact-deco-2{
    width: 200px;
    height: 200px;
    right: -80px;
    bottom: -80px;
}

.contact-deco-3{
    width: 200px;
    height: 200px;
    top: -80px;
    left: -80px;
}

.contact-deco-4{
    width: 100px;
    height: auto;
    left: 40%;
    top: 40%;
    z-index: 0;
    object-fit: cover;
}

.contact-deco-5{
    width: 200px;
    height: auto;
    left: -10%;
    bottom: -20%;
    z-index: 1;
    transform: rotateY(180deg);
    object-fit: cover;
    pointer-events: none;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){

    .contact-section-content{
        width: 80%;
        padding: 80px 0px;
    }

    .contact-description{
        position: relative;
        left: -25px;
    }

    .contact-title{
        font-size: calc(var(--font-size-big) - .2rem);
    }

    .contact-deco-5{
        left: auto;
        right: 10%;
        transform: rotateY(0deg);
    }
}

@media (min-width: 1024px){

    .contact-section-content{
        margin: 20px 0px;
    }
    
    .contact-description{
        left: 0px;
        width: 80%;
    }

    .contact-deco-4{
        width: 180px;
        left: 50%;
        top: 15%;
    }

    .contact-deco-5{
        right: 20%;
    }
    
}

@media (min-width: 1280px){

    .contact-description p{
        margin-bottom: 20px;
    }
}

@media (min-width: 1920px){

    .contact-description{
        left: 0px;
    }

    .contact-description p{
        margin-bottom: 60px;
    }

    .contact-deco-2{
        width: 300px;
        height: 300px;
        right: -120px;
        bottom: -120px;
    }
    
    .contact-deco-3{
        width: 300px;
        height: 300px;
        top: -120px;
        left: -120px;
    }

    .contact-deco-4{
        width: 250px;
        height: auto;
        left: 40%;
        top: 15%;
    }
    
    .contact-deco-5{
        width: 300px;
        right: 20%;
    }
}