<section class="contact-section">
    <div class="contact-section-content">
        <h2 class="contact-title">¡Queremos oirte!</h2>
        <button class="contact-button">Contactanos</button>

        <img class="contact-section-deco-rocket" src="/assets/home-section/contact/rocket.svg" alt="Ilustración de un cohete">
        <img class="contact-section-deco-planet" src="/assets/home-section/contact/planet.svg" alt="Ilustración de un planeta">
    </div>

    <div class="contact-stars contact-star-1"></div>
    <div class="contact-stars contact-star-2"></div>
    <div class="contact-stars contact-star-3"></div>
    <div class="contact-stars contact-star-4"></div>
    <div class="contact-stars contact-star-5"></div>
    
    <div class="contact-stars contact-star-6"></div>
    <div class="contact-stars contact-star-7"></div>
    <div class="contact-stars contact-star-8"></div>
    

</section>
