.contact-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  linear-gradient(to bottom, #8a2be2 20%, #420252);
    font-family: var(--primary-font);
    padding: 50px 20px;
    overflow: hidden;
}

.contact-section-content{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 100px 0px;
}

.contact-title{
    position: relative;
    font-size: 30px;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    background-clip: var();
    color: transparent;
    text-shadow: 0px 0px 20px var(--primary-color);
    margin-bottom: 30px;
}

.contact-button{
    position: relative;
    left:0px;
    top: 0px;
    background-color: transparent;
    outline: none;
    border: 3px solid;
    border-top: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
    border-left: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -5px 5px 0px rgba(0, 0, 0, .6);
    transition: all .3s ease;
    cursor: pointer;
}

.contact-button:hover{
    left: 2px;
    top: -2px;
    box-shadow: -10px 10px 0px rgba(0, 0, 0, .6);
}

.contact-section-deco-rocket{
    position: absolute;
    bottom: -100px;
    left: 10px;
    width: 40px;
    height: 40px;
}

.contact-section-deco-planet{
    position: absolute;
    top: -80px;
    right: -20px;
    width: 40px;
    height: 40px;
}

.contact-stars{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 2px white;
}

.contact-star-1{
    top: 10%;
    left: 60%;  
}

.contact-star-2{
    top: 20%;
    left: 20%;  
}

.contact-star-3{
    top: 40%;
    left: 90%;  
}

.contact-star-4{
    top: 70%;
    left: 10%;  
}

.contact-star-5{
    top: 90%;
    left: 70%;  
}

.contact-star-6{
    top: 50%;
    left: 50%;  
    opacity: .5;
    box-shadow: 0px 0px 0px 0 white;
}

.contact-star-7{
    top: 20%;
    left: 80%;  
    opacity: .5;
    box-shadow: 0px 0px 0px 0 white;
}

.contact-star-8{
    top: 90%;
    left: 30%;  
    opacity: .5;
    box-shadow: 0px 0px 0px 0 white;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

    .contact-title{
        font-size: 32px;
    }
    
    .contact-section-deco-rocket{
        width: 50px;
        height: 50px;
        bottom: -100px;
        left: -50px;
    }

    .contact-section-deco-planet{
        width: 70px;
        height: 70px;
        top: -80px;
        right: -100px;
    }

    
}

@media (min-width: 700px){

    .contact-title{
        font-size: 38px;
    }

    .contact-button{
        font-size: 22px;
    }

    .contact-section-deco-rocket{
        width: 70px;
        height: 70px;
    }

    .contact-section-deco-planet{
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 1024px){

    .contact-section-content{
        margin: 150px 0px;
    }
    
    .contact-title{
        font-size: 56px;
        margin-bottom: 80px;
    }

    .contact-button{
        font-size: 34px;
        padding: 10px;
        box-shadow: -10px 10px 0px rgba(0, 0, 0, .6);
    }

    .contact-button:hover{
        left: 2px;
        top: -2px;
        box-shadow: -22px 22px 0px rgba(0, 0, 0, .6);
    }

    
    .contact-section-deco-rocket{
        width: 90px;
        height: 90px;
        bottom: -100px;
        left: -160px;
    }

    .contact-section-deco-planet{
        width: 90px;
        height: 90px;
        top: -80px;
        right: -140px;
    }
}

@media (min-width: 1280px){

    .contact-title{
        font-size: 42px;
        margin-bottom: 80px;
    }

    .contact-button{
        font-size: 24px;
        box-shadow: -8px 8px 0px rgba(0, 0, 0, .6);
    }

    .contact-button:hover{
        
        box-shadow: -14px 14px 0px rgba(0, 0, 0, .6);
    }
}

@media (min-width: 1920px){

    .contact-title{
        font-size: 46px;
        margin-bottom: 80px;
    }

    .contact-button{
        font-size: 24px;
    }

    .contact-section-deco-rocket{
        width: 90px;
        height: 90px;
        bottom: -100px;
        left: -400px;
    }

    .contact-section-deco-planet{
        width: 90px;
        height: 90px;
        top: -80px;
        right: -420px;
    }
}