.job-form-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color-1);
    padding: 40px 20px;
    font-family: var(--primary-font);
    overflow: hidden;
}

.job-form-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    z-index: 5;
}

.job-form-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-form-img img{
    width: 200px;
    height: 200px;
}

.job-form-content h2{
    font-size: var(--font-size-medium);
    font-weight: 600;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dont-worry{
    font-size: var(--font-size-regular);
}

.job-form{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    gap: 40px;
    border-radius: 25px;
}

.job-form-notification{
    font-size: var(--font-size-regular);
}

.job-form-deco-background-1,
.job-form-deco-background-2{
    position: absolute;
    background: var(--decoration-color-gradient);
    border-radius: 50%;
    filter: blur(40px);
    z-index: 0;
    opacity: .4;
    width: 150px;
    height: 150px;
}

.job-form-deco-background-1{
    left: 0%;
    bottom: 10%;
}

.job-form-deco-background-2{
    right: 0%;
    top: 20%;
}

.form-sent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    text-align: start;
    gap: 0px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin-top: 40px;
    display: flex;
}

.form-sent-move-active{
    display: flex;
    animation: sent-move .5s linear forwards;
}

@keyframes sent-move {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.form-sent img{
    width: 30px;
    height: 30px;
}

.form-sent p{
    font-size: var(--font-size-regular);
}

.form-sent .form-sent-contact{
    font-size: calc(var(--font-size-regular) - .2rem);
    width: 90%;
    opacity: .8;
}

.form-sent span{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid var(--primary-color);
    pointer-events: none;
}

.form-sent-border-active{
    animation: sent-border 1s linear forwards;
}

@keyframes sent-border {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){

    .job-form{
        width: 80%;
    }

    .job-form-section{
        padding: 40px;
    }

    .job-form-img img{
        width: 300px;
        height: 300px;
    }

    .input-checkbox #privacy{
        transform: scale(1.6);
    }

    .checkbox-container p{
        font-size: calc(var(--font-size-regular) - .2rem);
    }

    .form-sent img{
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 1024px){

    .split-input-container{
        flex-direction: row;
        gap: 0px 20px;
    }
    
    .form-sent img{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1280px){

    .job-form{
        width: 80%;
    }

    .job-form-img img{
        width: 350px;
        height: 350px;
    }

    .split-input-container{
        flex-direction: row;
        gap: 0px 100px;
    }

    .input-form-button{
        justify-content: center;
        align-items: center;
    }

    .input-form .form-submit{
        width: 60%;
    }

    .input-form,
    .input-form input,
    .input-form select,
    .input-form textarea,
    .checkbox-container label,
    .checkbox-container p{
        font-size: calc(var(--font-size-regular) - .2rem);
    }

    .job-form-deco-background-1,
    .job-form-deco-background-2{
        width: 250px;
        height: 250px;
    }

    .form-sent{
        padding: 15px 25px;
    }
    
    .form-sent .form-sent-contact{
        width: 100%;
    }


}

@media (min-width: 1920px){
    .job-form{
        width: 50%;
    }

    .input-form,
    .input-form input,
    .input-form select,
    .input-form textarea,
    .custom-file-upload{
        font-size: calc(var(--font-size-regular) - .2rem);
    }

    .checkbox-container label,
    .checkbox-container p{
        font-size: calc(var(--font-size-regular) - .3rem);
    }

} 