.cookies{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: var(--background-color-1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    text-align: center;
    z-index: 10;
    font-family: var(--primary-font);
    display: none;
    align-items: center;     
    justify-content: center;
    animation: show 1s ease-in-out forwards;
}

.cookies-content{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px 0px;
    gap: 20px 0px;
    width: 90%;
    overflow: hidden;
}

.cookies-content h2{
    font-size: var(--font-size-medium);
    font-weight: 600;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cookies-content p{
    font-size: calc(var(--font-size-regular));
    color: black;
    text-align: start;
}

.cookies-buttons{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px 0px;
    width: 100%;
}

.cookies-buttons button{
    position: relative;
    font-size: var(--font-size-regular);
    font-family: var(--primary-font);
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px 15px;
    cursor: pointer;
    transition: all .3s linear;
    overflow: hidden;
}

.cookies-buttons a{
    font-size: var(--font-size-regular);
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--primary-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.cookies-buttons span{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    background-color: var(--background-color-1);
    opacity: .1;
    transition: all .3s linear;
}

.cookies-buttons button:hover span{
    width: 100%;
}


.cookie-img{
    position: absolute;
    top: -30px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 246, 246);
    border-top: 4px solid var(--primary-color);
    border-left: 4px solid var(--primary-color);
    border-right: 4px solid var(--secondary-color);
    border-bottom: 4px solid var(--secondary-color);
    border-radius: 50%;
    z-index: 10;
}

.cookie-img img{
    margin: 10px;
    width: 40px;
    height: 40px;
}

.cookie-border{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.cookie-border span{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    background: var(--decoration-color-gradient);
    z-index: 9;
}

.show-banner{
    display: flex;
}

@keyframes show {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.hide-banner{
    animation: hide 1s ease-in-out forwards;
}

@keyframes hide {
    0%{
        transform: translateY(0px);
        opacity: 1;
    }

    100%{
        transform: translateY(100px);
        opacity: 0;
    }
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){
    .cookies{
        left: 20px;
        bottom: 20px;
        width: 70%;
        border-radius: 20px;
    }

    .cookies-content{
        padding: 30px 0px;
        gap: 30px 0px;
    }

    .cookies-buttons{
        width: 100%;
    }
    
    .cookie-img{
        top: -40px;
        right: 40px;
        border-top: 6px solid var(--primary-color);
        border-left: 6px solid var(--primary-color);
        border-right: 6px solid var(--secondary-color);
        border-bottom: 6px solid var(--secondary-color);
    }

    .cookie-img img{
        width: 50px;
        height: 50px;
    }

    .cookie-border{
        border-radius: 20px;
    }

    .cookie-border span{
        height: 7px;
    }
}

@media (min-width: 1024px){

    .cookies-buttons{
        width: 70%;
    }
}

@media (min-width: 1280px){
    .cookies{
        width: 60%;
    }

    .cookies-buttons{
        width: 60%;
    }

    .cookies-content p,
    .cookies-buttons button,
    .cookies-buttons a{
        font-size: var(--font-size-small);
    }
}

@media (min-width: 1920px){
    .cookies{
        width: 40%;
    }

    .cookies-content{
        padding: 20px 0px;
        gap: 20px 0px;
    }
} 