<section class="benefits-section">

    <div class="benefits-content">
        
        <h2 class="benefits-title">¡Conoce nuestros Beneficios!</h2>

        <div class="benefits-list">
            
            <div class="benefit benefit-1">
                <img src="/assets/work-with-us-page/benefits/remote.svg" alt="icono de beneficio">    
                <h2>Trabajo remoto</h2>
                <p>Disfruta de la libertad de trabajar desde donde te sientas más cómodo, sin necesidad de desplazamientos.</p>
            </div>
            
            <div class="benefit benefit-2">
                <img src="/assets/work-with-us-page/benefits/schedule.svg" alt="icono de beneficio">    
                <h2>Horario flexible</h2>
                <p>Organiza tu jornada laboral según tus necesidades y equilibra mejor tu vida personal y profesional.</p>
            </div>
            
            <div class="benefit benefit-3">
                <img src="/assets/work-with-us-page/benefits/team.svg" alt="icono de beneficio">  
                <h2>Ambiente de trabajo colaborativo</h2>
                <p>Únete a un equipo donde la comunicación, el apoyo mutuo y el trabajo en equipo son clave para el éxito.</p>
            </div>
            
            <div class="benefit benefit-4">
                <img src="/assets/work-with-us-page/benefits/learn.svg" alt="icono de beneficio">
                <h2>Capacitaciones y cursos</h2>
                <p>Accede a oportunidades de aprendizaje continuo para mejorar tus habilidades y avanzar en tu carrera.</p>
            </div>
            
            <div class="benefit benefit-5">
                <img src="/assets/work-with-us-page/benefits/health.svg" alt="icono de beneficio">
                <h2>Días libres por salud mental</h2>
                <p>Tu bienestar es importante. Tómate un respiro cuando lo necesites para cuidar tu salud emocional.</p>
            </div>
            
            <div class="benefit benefit-6">
                <img src="/assets/work-with-us-page/benefits/holiday.svg" alt="icono de beneficio"> 
                <h2>Días de descanso adicionales</h2>
                <p>Disfruta de días extra de descanso para recargar energías y pasar tiempo con tus seres queridos.</p>
            </div>
            

        </div>
    
    </div>

    <img class="benefits-background-deco-1" src="/assets/work-with-us-page/benefits/benefit-background.svg" alt="benefits background deco" draggable="false">
    <img class="benefits-background-deco-2" src="/assets/work-with-us-page/benefits/benefit-background.svg" alt="benefits background deco" draggable="false">
    <img class="benefits-background-deco-3" src="/assets/work-with-us-page/benefits/benefit-background.svg" alt="benefits background deco" draggable="false">

</section>

