<section class="benefits-section">

    <div class="benefits-content">
        
        <h2 class="benefits-title">¡Conoce nuestros Beneficios!</h2>

        <ul class="benefits-list">
            
            <li class="benefit benefit-1">
                <img src="/assets/work-with-us-page/benefits/remote.svg" alt="ilustracion de trabajo remoto" loading="lazy">    
                <h3>Trabajo remoto</h3>
                <p>Disfruta de la libertad de trabajar desde donde te sientas más cómodo, sin necesidad de desplazamientos.</p>
            </li>
            
            <li class="benefit benefit-2">
                <img src="/assets/work-with-us-page/benefits/schedule.svg" alt="ilustracion de horario flexible" loading="lazy">    
                <h3>Horario flexible</h3>
                <p>Organiza tu jornada laboral según tus necesidades y equilibra mejor tu vida personal y profesional.</p>
            </li>
            
            <li class="benefit benefit-3">
                <img src="/assets/work-with-us-page/benefits/team.svg" alt="ilustracion de ambiente de trabajo colaborativo" loading="lazy">  
                <h3>Ambiente de trabajo colaborativo</h3>
                <p>Únete a un equipo donde la comunicación, el apoyo mutuo y el trabajo en equipo son clave para el éxito.</p>
            </li>
            
            <li class="benefit benefit-4">
                <img src="/assets/work-with-us-page/benefits/learn.svg" alt="ilustracion de Capacitaciones y cursos" loading="lazy">
                <h3>Capacitaciones y cursos</h3>
                <p>Accede a oportunidades de aprendizaje continuo para mejorar tus habilidades y avanzar en tu carrera.</p>
            </li>
            
            <li class="benefit benefit-5">
                <img src="/assets/work-with-us-page/benefits/health.svg" alt="ilustracion de dias libres por salud" loading="lazy">
                <h3>Días libres por salud mental</h3>
                <p>Tu bienestar es importante. Tómate un respiro cuando lo necesites para cuidar tu salud emocional.</p>
            </li>
            
            <li class="benefit benefit-6">
                <img src="/assets/work-with-us-page/benefits/holiday.svg" alt="ilustracion de dias de descanso" loading="lazy"> 
                <h3>Días de descanso adicionales</h3>
                <p>Disfruta de días extra de descanso para recargar energías y pasar tiempo con tus seres queridos.</p>
            </li>
            

        </ul>
    
    </div>

    <img class="benefits-background-deco-1" src="/assets/work-with-us-page/benefits/deco-1.svg" alt="" draggable="false" loading="lazy">
    <img class="benefits-background-deco-2" src="/assets/work-with-us-page/benefits/deco-2.svg" alt="" draggable="false" loading="lazy">
    <img class="benefits-background-deco-3" src="/assets/work-with-us-page/benefits/deco-2.svg" alt="" draggable="false" loading="lazy">
    <img class="benefits-background-deco-4" src="/assets/work-with-us-page/benefits/deco-2.svg" alt="" draggable="false" loading="lazy">
    <img class="benefits-background-deco-5" src="/assets/work-with-us-page/benefits/deco-2.svg" alt="" draggable="false" loading="lazy">
    <img class="benefits-background-deco-6" src="/assets/work-with-us-page/benefits/deco-1.svg" alt="" draggable="false" loading="lazy">

</section>

