.benefits-section{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    padding: 40px 0px;
    margin-top: 30px;
    font-family: 'Cabin', sans-serif;
    overflow: hidden;
}

.benefits-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    z-index: 5;
}

.benefits-title{
    font-size: 34px;
    font-family: "Baloo Thambi 2", system-ui;
    font-weight: 600;
    background: linear-gradient(to right, #f169fa 0%, #e58f51);
    -webkit-background-clip: text;
    background-clip: var();
    color: transparent;
    text-align: center;
}

.benefits-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.benefit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    font-family: "Baloo Thambi 2", system-ui;
    gap: 30px 0px;
}

.benefit img{
    width: 100px;
    height: 100px;
    transition: all .5s linear;
}

.benefit h2{
    font-size: 24px;
    font-weight: 600;
    transition: all .1s linear;
}

.benefit p{
    font-weight: 600;
    opacity: .8;
}

.benefit:hover img{
    scale: 1.1;
}

.benefit:hover h2{
    color: #f169fa;
}


.benefits-background-deco-1,
.benefits-background-deco-2,
.benefits-background-deco-3{
    position: absolute;
    width: 220px;
    height: 220px;
    z-index: 0;
    opacity: .3;
    pointer-events: none;
}

.benefits-background-deco-1{
    left: 0px;
    top: 5%;
}

.benefits-background-deco-2{
    right: 0px;
    bottom: 10%;
}

.benefits-background-deco-3{
    right: 10%;
    bottom: 40%;
}