<section class="clients-section">
    
    <div class="clients-content">
        <h2>Trabajamos con las marcas líderes en el mercado</h2>

        <div class="clients-companies-content">
            <img class="company-logo" src="/assets/services-page/clients/amsterdam.svg" alt="logo de amsterdam" draggable="false">
            <img class="company-logo" src="/assets/services-page/clients/ararat.svg"    alt="logo de ararat"    draggable="false">
            <img class="company-logo" src="/assets/services-page/clients/aura.svg"      alt="logo de aura"      draggable="false">
            <img class="company-logo" src="/assets/services-page/clients/basel.svg"     alt="logo de basel"     draggable="false">
            <img class="company-logo" src="/assets/services-page/clients/colorado.svg"  alt="logo de colorado"  draggable="false">
            <img class="company-logo" src="/assets/services-page/clients/delaware.svg"  alt="logo de delaware"  draggable="false">
            <img class="company-logo" src="/assets/services-page/clients/hudson.svg"    alt="logo de hudson"    draggable="false">
            <img class="company-logo" src="/assets/services-page/clients/kobe.svg"      alt="logo de kobe"      draggable="false">
            <img class="company-logo" src="/assets/services-page/clients/nairobi.svg"   alt="logo de nairobi"   draggable="false">
            <div class="company-logo company-logo-join">
                <p>Y más por venir...</p>
            </div>
        </div>
    
    </div>

    <img class="clients-background-deco clients-background-deco-1" src="/assets/services-page/clients/companies-deco.svg" alt="" draggable="false">
    <img class="clients-background-deco clients-background-deco-2" src="/assets/services-page/clients/companies-deco.svg" alt="" draggable="false">

</section>
