.clients-section{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 40px 20px;
    font-family: 'Cabin', sans-serif;
    overflow: hidden;
}
