.work-hero-section{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f169fa, #e58f51);
    padding: 40px 20px;
    font-family: 'Cabin', sans-serif;
    overflow: hidden;
}

.work-hero-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0px;
    margin-top: 100px;
}

.work-hero-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    z-index: 5;
    color: white;
}

.work-hero-title h2{
    font-size: 32px;
    font-family: "Baloo Thambi 2", system-ui;
    font-weight: 600;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, .6);
}

.work-hero-title p{
    font-weight: 400;
}

.work-hero-background{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: #f5f5f5;
    z-index: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.work-hero-background-deco-1,
.work-hero-background-deco-2,
.work-hero-background-deco-3{
    position: absolute;
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2%) hue-rotate(39deg) brightness(105%) contrast(100%);
    opacity: .7;
}

.work-hero-background-deco-1{
    top: 20%;
    right: 10%;
    transform: rotate(20deg);
}

.work-hero-background-deco-2{
    top: 30%;
    left: 10%;
}

.work-hero-background-deco-3{
    bottom: 10%;
    right: 20%;
    transform: rotate(-20deg);
}