<section class="work-hero-section">
    
    <div class="work-hero-content">
        
        <div class="work-hero-title">
            <h2 data-aos="fade-right">Trabaja Con Nosotros</h2>
            <p data-aos="fade-right" data-aos-delay="200">Creemos en tu talento y en tu potencial. Súmate y haz parte de Novatek.</p>
        </div>

        <div class="work-hero-background-separation"></div>

        <img class="work-hero-background-deco-1" src="/assets/work-with-us-page/hero/computer.svg"   alt="" width="30" height="30">
        <img class="work-hero-background-deco-2" src="/assets/work-with-us-page/hero/hand.svg"       alt="" width="30" height="30">
        <img class="work-hero-background-deco-3" src="/assets/work-with-us-page/hero/suitcase.svg"   alt="" width="30" height="30">
        
    </div>

    <div class="work-hero-background"></div>

</section>


