<section class="work-hero-section">
    
    <div class="work-hero-content">
        
        <div class="work-hero-title">
            <h2>Trabaja Con Nosotros</h2>
            <p>Creemos en tu talento y en tu potencial. Súmate y haz parte de Novatek.</p>
        </div>

        <div class="work-hero-background"></div>

        <div class="work-hero-background-deco-1"></div>
        <div class="work-hero-background-deco-2"></div>
        <div class="work-hero-background-deco-3"></div>

        <img class="work-hero-background-deco-1" src="/assets/work-with-us-page/computer.svg"   alt="icono computer">
        <img class="work-hero-background-deco-2" src="/assets/work-with-us-page/hand.svg"       alt="icono mano">
        <img class="work-hero-background-deco-3" src="/assets/work-with-us-page/suitcase.svg"   alt="icono maleta">
        
    </div>

</section>


