.work-hero-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--decoration-color-gradient);
    padding: 40px 20px;
    font-family: var(--primary-font);
    overflow: hidden;
}

.work-hero-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0px;
    margin-top: 100px;
}

.work-hero-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    z-index: 5;
    color: white;
}

.work-hero-title h2{
    font-size: var(--font-size-medium);
    font-weight: 600;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, .6);
}

.work-hero-title p{
    font-size: calc(var(--font-size-regular) - .1rem); 
    font-weight: 400;
    
}

.work-hero-background-separation{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: var(--background-color-1);
    z-index: 1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.work-hero-background-deco-1,
.work-hero-background-deco-2,
.work-hero-background-deco-3{
    position: absolute;
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2%) hue-rotate(39deg) brightness(105%) contrast(100%);
    opacity: .7;
}

.work-hero-background-deco-1{
    top: 20%;
    right: 10%;
    transform: rotate(20deg);
}

.work-hero-background-deco-2{
    top: 30%;
    left: 10%;
}

.work-hero-background-deco-3{
    bottom: 10%;
    right: 20%;
    transform: rotate(-20deg);
}

.work-hero-background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    opacity: .4;
    background-image: url("/assets/work-with-us-page/hero/background-hero.svg");
    background-repeat: repeat;
    background-size: cover;
    background-position: top left;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){
    .work-hero-content{
        margin: 100px 0px;
        margin-top: 120px;
    }

    .work-hero-title h2{
        font-size: calc(var(--font-size-medium) + .3rem);
    }
}

@media (min-width: 1024px){

    .work-hero-content{
        margin: 120px 0px;
        margin-top: 140px;
    }

    .work-hero-title h2{
        font-size: calc(var(--font-size-medium) + .3rem);
    }
    
    .work-hero-title p{
        font-size: var(--font-size-regular); 
    }
    
    .work-hero-background-deco-1,
    .work-hero-background-deco-2,
    .work-hero-background-deco-3{
        width: 40px;
        height: 40px;
    }

    .work-hero-background{
        opacity: .3;
    }
}

@media (min-width: 1280px){
    .work-hero-background-deco-1,
    .work-hero-background-deco-2,
    .work-hero-background-deco-3{
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1920px){
    .work-hero-background{
        background-image: url("/assets/work-with-us-page/hero/background-hero.svg");
        background-repeat: repeat;
        background-size: 700px;
        background-position: top left;
    }
} 