<section class="project-contact-section">

    <img class="project-contact-divider" src="assets/services-page/service-list/title-divider.svg" alt="" draggable="false" loading="lazy">

    <div class="project-contact-content">
        <h3>¿Tienes algun proyecto en mente?</h3>
        <p>Ponte en contacto con nosotros y cuéntanos más sobre tu proyecto. En menos de 24h te damos respuesta.</p>
    
        <button>Contactanos</button>
    </div>
    
    <img class="project-contact-deco project-contact-deco-1" src="assets/services-page/project-contact/deco-1.svg" alt="" draggable="false" loading="lazy">
    <img class="project-contact-deco project-contact-deco-2" src="assets/services-page/project-contact/deco-2.svg" alt="" draggable="false" loading="lazy">

    <span class="project-contact-deco-3"></span>
    <span class="project-contact-deco-4"></span>
    <span class="project-contact-deco-5"></span>

    <span class="project-contact-deco-6"></span>
    <span class="project-contact-deco-7"></span>
    <span class="project-contact-deco-8"></span>

</section>
