.project-contact-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6F3FF9;
    padding: 80px 20px;
    margin-top: 40px;
    font-family: var(--primary-font);
    
}

.project-contact-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.project-contact-title{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px 0px;
    font-family: var(--secondary-font);
}

.project-contact-title h3{
    font-size: var(--font-size-medium);
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-contact-title p{
    font-size: var(--font-size-regular);
    opacity: .8;
}

.project-contact-title button{
    font-size: var(--font-size-regular);
    color: white;
    margin-top: 40px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 1s ease;
    cursor: pointer;
}

.project-contact-title:hover button{
    box-shadow: inset 0px 0px 10px var(--primary-color);
}

.project-contact-divider{
    position: absolute;
    width: 100%;
    height: 60px;
    top: -60px;
    left: 0px;
    z-index: 1;
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(29%) sepia(53%) saturate(7095%) hue-rotate(249deg) brightness(100%) contrast(96%);
}

.project-contact-deco{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 0;
}

.project-contact-deco-1{
    left: 5%;
    bottom: 30%;
    transform: rotate(30deg);
}

.project-contact-deco-2{
    right: 5%;
    bottom: 5%;
}

.project-contact-deco-3,
.project-contact-deco-4,
.project-contact-deco-5,
.project-contact-deco-6,
.project-contact-deco-7,
.project-contact-deco-8{
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: rgb(185, 228, 255);
    border-radius: 50%;
    box-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
}

.project-contact-deco-3{
    top: 30%;
    left: 10%;
}

.project-contact-deco-4{
    top: 10%;
    right: 10%;
}

.project-contact-deco-5{
    bottom: 5%;
    left: 40%;
}

.project-contact-deco-6{
    bottom: 25%;
    right: 20%;
}

.project-contact-deco-7{
    bottom: 30%;
    left: 20%;
}

.project-contact-deco-8{
    top: 5%;
    right: 60%;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){

    .project-contact-title{
        gap: 40px 0px;
    }
    
    .project-contact-title p{
        width: 80%;
    }

    .project-contact-deco{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1024px){
    
    .project-contact-section{
        padding: 100px 20px;
    }

    .project-contact-title{
        gap: 20px 0px;
    }
    

    .project-contact-title button{
        padding: 10px 40px;
    }

    .project-contact-deco{
        width: 60px;
        height: 60px;
    }

    .project-contact-deco-1{
        left: 5%;
        bottom: 30%;
    }
    
    .project-contact-deco-2{
        right: 10%;
        bottom: 10%;
    }
    
}

@media (min-width: 1280px){
    .project-contact-deco{
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1920px){

    .project-contact-section{
        padding: 140px 20px;
    }

    .project-contact-title{
        gap: 40px 0px;
    }
} 