.overview-services-card{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 340px;
    width: 100%;
    background-color: var(--background-color-1);
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
    box-shadow: 0px 5px 0px var(--primary-color);
    transition: all .5s ease;
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
    margin: 40px 0px;
}

.overview-services-card:hover{
    box-shadow: 10px 30px 0px #f069fab3;
    border: 2px solid #f069fab3;

}

.overview-sevices-text-card-cont{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    color: rgba(0, 0, 0, .8);
    z-index: 5;
}

.overview-services-card h3{
    font-size: 22px;
    margin-bottom: 10px;
    transition: all .6s ease;
}

.overview-services-card:hover .overview-sevices-text-card-cont h3{
    transform: scale(1.04);
}

.overview-services-card h3 span{
   color: var(--primary-color);
   transition: all .6s ease;
}

.overview-services-card:hover .overview-sevices-text-card-cont span{
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overview-services-card p{
    font-size: 14px;
    font-weight: 600;
}

.overview-icon-card{
    width: 80px;
    height: 80px;
    z-index: 5;
    transition: all .5s ease;
}

.overview-services-card:hover .overview-icon-card{
    transform: translateY(-10px);
}

.overview-services-deco-cont{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.overview-services-deco-card{
    width: 70%;
    height: 60%;
    background-color: rgba(21, 106, 241, .08);
    z-index: 0;
    border-radius: 20px;
    transform: rotate(10deg);
    transition: all .8s ease;
    user-select: none;
}

.overview-services-card:hover .overview-services-deco-card{
    transform: rotate(10deg) scale(1.1);
}

@media (max-width: 399px){
    .overview-services-card h3{
        font-size: 22px;
    }

    .overview-services-card p{
        font-size: 14px;
    }
}

@media (min-width: 400px){

}

@media (min-width: 700px){

    .overview-services-card{
        min-height: 440px;
        padding: 30px 40px;
        justify-content: space-evenly;
    }

    .overview-icon-card{
        width: 120px;
        height: 120px;
    }

    .overview-services-card h3{
        font-size: 26px;
    }

    .overview-services-card p{
        font-size: 18px;
    }
}

@media (min-width: 1024px){
    
    .overview-services-card{
        max-height: 400px;
        padding: 30px 40px;
        justify-content: space-evenly;
    }
}

@media (min-width: 1280px){

}

@media (min-width: 1920px){

    .overview-services-card{
        min-height: 450px;
    }

    .overview-services-card h3{
        font-size: 30px;
    }

    .overview-services-card p{
        font-size: 20px;
    }
}