<div class="culture-section">

    <div class="culture-content">
        
        <h2 class="culture-title">Nuestra Cultura</h2>

        <div class="culture-container">
            
            <div class="culture-info" data-aos="fade-left" data-aos-offset="400">

                <div class="culture-info-description">
                    <h3>Trabajo en equipo</h3>
                    <p>Fomentamos un ambiente colaborativo donde cada idea cuenta. Creemos que el éxito se construye en conjunto.</p>
                </div>
                
                <div class="culture-info-image">
                    <img src="/assets/work-with-us-page/culture/team-work.jpg" alt="imagen de trabajo en equipo" loading="lazy">
                </div>

                <img class="culture-info-deco-1" src="/assets/work-with-us-page/culture/deco-1.svg" alt="" loading="lazy">
                <img class="culture-info-deco-2" src="/assets/work-with-us-page/culture/deco-2.svg" alt="" loading="lazy">
            
            </div>

            <div class="culture-info culture-info-background" data-aos="fade-right" data-aos-offset="400">

                <div class="culture-info-description">
                    <h3>Innovación continua</h3>
                    <p>Nos encanta explorar nuevas ideas y tecnologías para mejorar constantemente. Aquí, la creatividad es bienvenida.</p>
                </div>
                
                <div class="culture-info-image">
                    <img src="/assets/work-with-us-page/culture/innovation.jpg" alt="imagen de Innovación" loading="lazy">
                </div> 

                <img class="culture-info-deco-1" src="/assets/work-with-us-page/culture/deco-1.svg" alt="" loading="lazy">
                <img class="culture-info-deco-2" src="/assets/work-with-us-page/culture/deco-2.svg" alt="" loading="lazy">
            
            </div>

            <div class="culture-info" data-aos="fade-left" data-aos-offset="800">

                <div class="culture-info-description">
                    <h3>Aprendizaje y crecimiento</h3>
                    <p>Impulsamos el desarrollo profesional y personal con capacitaciones, mentorías y oportunidades de crecimiento.</p>
                </div>
                
                <div class="culture-info-image">
                    <img src="/assets/work-with-us-page/culture/learning.jpg" alt="imagen de aprendizaje" loading="lazy">
                </div>

                <img class="culture-info-deco-1" src="/assets/work-with-us-page/culture/deco-1.svg" alt="" loading="lazy">
                <img class="culture-info-deco-2" src="/assets/work-with-us-page/culture/deco-2.svg" alt="" loading="lazy">
            
            </div>

            <div class="culture-info culture-info-background" data-aos="fade-right" data-aos-offset="800">

                <div class="culture-info-description">
                    <h3>Equilibrio entre vida y trabajo</h3>
                    <p>Creemos que un equipo feliz y descansado es un equipo productivo. Promovemos la flexibilidad y el bienestar.</p>
                </div>
                
                <div class="culture-info-image">
                    <img src="/assets/work-with-us-page/culture/free-day.jpg" alt="imagen de dia libre" loading="lazy">
                </div>

                <img class="culture-info-deco-1" src="/assets/work-with-us-page/culture/deco-1.svg" alt="" loading="lazy">
                <img class="culture-info-deco-2" src="/assets/work-with-us-page/culture/deco-2.svg" alt="" loading="lazy">
            
            </div>

            <div class="culture-info" data-aos="fade-left" data-aos-offset="900">

                <div class="culture-info-description">
                    <h3>Empatía y respeto</h3>
                    <p>Creemos en un ambiente donde todas las voces son escuchadas y cada persona es valorada por lo que aporta.</p>
                </div>
                
                <div class="culture-info-image">
                    <img src="/assets/work-with-us-page/culture/empathy.jpg" alt="imagen de empatia" loading="lazy">
                </div>

                <img class="culture-info-deco-1" src="/assets/work-with-us-page/culture/deco-1.svg" alt="" loading="lazy">
                <img class="culture-info-deco-2" src="/assets/work-with-us-page/culture/deco-2.svg" alt="" loading="lazy">
            
            </div>

            <div class="culture-info culture-info-background culture-info-last" data-aos="fade-right" data-aos-offset="900">

                <div class="culture-info-description">
                    <h3>Pasión por lo que hacemos</h3>
                    <p>Nos motiva hacer las cosas bien y con propósito. Cada miembro del equipo aporta con entusiasmo y compromiso.</p>
                </div>
                
                <div class="culture-info-image">
                    <img src="/assets/work-with-us-page/culture/pasion.jpg" alt="imagen de pasion" loading="lazy">
                </div>

                <img class="culture-info-deco-1" src="/assets/work-with-us-page/culture/deco-1.svg" alt="" loading="lazy">
                <img class="culture-info-deco-2" src="/assets/work-with-us-page/culture/deco-2.svg" alt="" loading="lazy">
            
            </div>
        
        </div>

        <div class="culture-join-us">
            <h3>¿Qué esperas?</h3>
            <p>Forma parte de un equipo apasionado, innovador y en constante crecimiento. Juntos, podemos lograr grandes cosas.</p>
        
            <img class="culture-deco culture-deco-1" src="/assets/work-with-us-page/culture/planet.svg" alt="" draggable="false" loading="lazy">
            <img class="culture-deco culture-deco-2" src="/assets/work-with-us-page/culture/ufo.svg"    alt="" draggable="false" loading="lazy">


            <div class="culture-stars culture-star-1"></div>
            <div class="culture-stars culture-star-2"></div>
            <div class="culture-stars culture-star-3"></div>
            <div class="culture-stars culture-star-4"></div>
            <div class="culture-stars culture-star-5"></div>

            <div class="culture-stars culture-star-6"></div>
            <div class="culture-stars culture-star-7"></div>
            <div class="culture-stars culture-star-8"></div>

            <div class="culture-deco-divider">
                <img src="/assets/work-with-us-page/culture/title-divider.svg" alt="" loading="lazy">
            </div>
        </div>
    
    </div>

</div>

