.culture-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color-1);
    padding: 40px 0px;
    padding-bottom: 0px;
    font-family: var(--primary-font);
    overflow: hidden;
}

.culture-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.culture-title{
    font-size: var(--font-size-big);
    font-weight: 600;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.culture-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.culture-info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px 0px;
    text-align: start;
    padding: 50px 40px;
    overflow: hidden;
}

.culture-info-description{
    z-index: 5;
}

.culture-info-description h3{
    font-size: var(--font-size-medium);
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.culture-info-description p{
    font-size: var(--font-size-regular);
}

.culture-info-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 5;
}

.culture-info-image img{
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}

.culture-info-background{
    background-color: var(--background-color-2);
    color: white;
}

.culture-info-last{
    padding-bottom: 120px;
}

.culture-info-deco-1,
.culture-info-deco-2{
    position: absolute;
    z-index: 0;
    opacity: .3;
}

.culture-info-deco-1{
    left: -20%;
    bottom: 0%;
    width: 250px;
}

.culture-info-deco-2{
    right: 20px;
    top: 50px;
    width: 40px;
    transform: rotate(-45deg);
}

.culture-join-us{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px 0px;
    padding: 120px 30px;
    background:  linear-gradient(to bottom, #8a2be2 20%, #420252);
}

.culture-join-us h3{
    font-size: var(--font-size-medium);
    font-weight: 600;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 20px var(--primary-color);
}

.culture-join-us p{
    font-size: var(--font-size-regular);
    color: white;
    text-align: center;
}

.culture-deco{
    position: absolute;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 20px white);
}

.culture-deco-1{
    left: 10%;
    top: 10%;
}

.culture-deco-2{
    right: 10%;
    bottom: 10%;
}

.culture-stars{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 2px white;
}

.culture-star-1{
    top: 10%;
    left: 60%;  
}

.culture-star-2{
    top: 20%;
    left: 20%;  
}

.culture-star-3{
    top: 40%;
    left: 90%;  
}

.culture-star-4{
    top: 70%;
    left: 10%;  
}

.culture-star-5{
    top: 90%;
    left: 70%;  
}

.culture-star-6{
    top: 50%;
    left: 50%;  
    opacity: .5;
    box-shadow: 0px 0px 0px 0 white;
}

.culture-star-7{
    top: 20%;
    left: 80%;  
    opacity: .5;
    box-shadow: 0px 0px 0px 0 white;
}

.culture-star-8{
    top: 90%;
    left: 30%;  
    opacity: .5;
    box-shadow: 0px 0px 0px 0 white;
}

.culture-deco-divider{
    position: absolute;
    display: flex;
    top: -30px;
    left: 0px;
    width: 100%;
    filter: brightness(0) saturate(100%) invert(37%) sepia(96%) saturate(6677%) hue-rotate(266deg) brightness(90%) contrast(96%);
    transform: rotate(180deg);
}

.culture-deco-divider img{
    width: 100%;
    height: 30px;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){
    .culture-info{
        padding: 50px;
    }

    .culture-info-image img{
        width: 70%;
    }
    
    .culture-info-last{
        padding-bottom: 120px;
    }

    .culture-info-deco-1{
        left: -10%;
    }

    .culture-info-deco-2{
        right: 60px;
        width: 50px;
    }
    
}

@media (min-width: 1024px){

    .culture-info-description h3{
        background: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 20%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .culture-info-description p{
        width: 80%;
    }

    .culture-info-image img{
        width: 50%;
    }

    .culture-info-deco-1{
        left: -10%;
        bottom: 10%;
        width: 350px;
    }

    .culture-join-us p{
        width: 70%;
    }

    .culture-deco{
        width: 70px;
        height: 70px;
    }
    
    .culture-deco-1{
        left: 10%;
        top: 10%;
    }
    
    .culture-deco-2{
        right: 10%;
        bottom: 10%;
    }
    
}

@media (min-width: 1280px){

    .culture-title{
        margin-bottom: 60px;
    }

    .culture-info{
        flex-direction: row;
        text-align: start;
        padding: 50px 170px;
    }

    .culture-info-background{
        flex-direction: row-reverse;
    }

    .culture-info-description{
        width: 40%;
    }

    .culture-info-description h3{
        background: var(--text-color-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .culture-info-description p{
        width: 100%;
    }

    .culture-info-image{
        width: 60%;
        justify-content: end;
    }

    .culture-info-background .culture-info-image{
        justify-content: start;
    }

    .culture-info-image img{
        width: 80%;
    }

    .culture-info-last{
        padding-bottom: 130px;
    }

    .culture-info-deco-1{
        left: -10%;
        bottom: 10%;
        width: 350px;
    }

    .culture-join-us{
        padding: 160px 30px;
    }
}

@media (min-width: 1920px){

    .culture-info{
        padding: 50px 400px;
    }

    .culture-info-image img{
        width: 80%;
    }

    .culture-info-last{
        padding-bottom: 130px;
    }

    .culture-info-deco-1{
        left: -5%;
        bottom: 10%;
        width: 350px;
    }

    .culture-info-deco-2{
        right: 150px;
    }

    .culture-join-us p{
        width: 50%;
    }
} 