<section class="stats-counter-section">
    
    <div class="stats-counter-content">
        
        <div class="stats-1-clients stat-counter">
            <p class="stats-counter-amount"> +100</p>
            <p class="stats-counter-title">Clientes Satisfechos</p>
        </div>
        
        <div class="stats-2-experience stat-counter">
            <p class="stats-counter-amount">+15</p>
            <p class="stats-counter-title">Años en el mercado</p>
        </div>
        
        <div class="stats-3-projects stat-counter">
            <p class="stats-counter-amount">+150</p>
            <p class="stats-counter-title">Proyectos realizados</p>
        
        </div>
    </div>

    <div class="stat-counter-background">
        <span></span>
    </div>
    
</section>
