.stats-counter-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    padding: 0px 20px;
    overflow: hidden;
}


.stats-counter-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0px;
    z-index: 5;
}

.stat-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 0px;
    cursor: pointer;
}

.stats-counter-amount{
    font-size: var(--font-size-big);
    color: var(--primary-color);
    margin-bottom: 10px;
    font-weight: 600;
    transition: all .5s ease;
}

.stats-counter-title{
    font-size: var(--font-size-regular);
    text-align: center;
    color: white;
}

.stats-1-clients{
    position: relative;
    left: -30%;
}

.stats-3-projects{
    position: relative;
    left: 30%;
}

.stat-counter:hover .stats-counter-amount{
    text-shadow: 0px 0px 20px var(--primary-color);
}

.stat-counter-background{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("/assets/home-section/stats-counter/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.stat-counter-background span{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    pointer-events: none;
}

@media (max-width: 399px){
    .stats-counter-amount {
        font-size: calc(var(--font-size-big) - .7rem);
    }
}

@media (min-width: 400px){
    .stats-counter-amount {
        font-size: calc(var(--font-size-big) - .7rem);
    }
}

@media (min-width: 700px){
    .stats-counter-amount {
        font-size: var(--font-size-big);
    }

}

@media (min-width: 1024px){
    
}

@media (min-width: 1280px){

}

@media (min-width: 1920px){

    .stats-counter-content{
        flex-direction: row;
        justify-content: space-around;
        margin: 100px 0px;
    }
    
    .stats-1-clients{
        position: relative;
        left: 0%;
    }
    
    .stats-3-projects{
        position: relative;
        left: 0%;
    }
}