<section #countersSection class="stats-counter-section">
    
    <div class="stats-counter-content">
        
        <div data-aos="fade-up" data-aos-delay="0" class="stats-1-clients stat-counter">
            <p class="stats-counter-amount">{{`+` +  clients}}</p>
            <p class="stats-counter-title">Clientes Satisfechos</p>
        </div>
        
        <div data-aos="fade-up" data-aos-delay="100" class="stats-2-experience stat-counter">
            <p class="stats-counter-amount">{{`+` +  years}}</p>
            <p class="stats-counter-title">Años en el mercado</p>
        </div>
        
        <div data-aos="fade-up" data-aos-delay="200" class="stats-3-projects stat-counter">
            <p class="stats-counter-amount">{{`+` +  projects}}</p>
            <p class="stats-counter-title">Proyectos realizados</p>
        
        </div>
    </div>

    <div class="stat-counter-background">
        <span></span>
    </div>
    
</section>
