@import 'swiper/css';

@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade'; 
@import 'swiper/css/effect-coverflow'; 

.testimonials-section{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color-1);
  font-family: var(--primary-font);
  padding: 40px 30px;
  overflow: hidden;
  color: black
}

.container-swiper{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 5;
}

.swiper{
  width: 100%;
}

.swiper-wrapper{
  height: 400px;
  margin: 30px 0px;
  margin-bottom: 40px;
  border-radius: 20px;
  z-index: 5;
}

.swiper-slide{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0 !important;
  pointer-events: none;
  padding: 20px;
}

.swiper-slide-active{
  opacity: 1 !important;
}
.swiper-slide img{
  width: 30px;
  height: 30px;
}

.testimonial-text{
  font-size: calc(var(--font-size-regular) + .2rem);
  opacity: .8;
  font-weight: 400;
}

.testimonial-name{
  font-size: calc(var(--font-size-regular));
  opacity: .8;
  font-weight: 400;
}

.testimonial-name span{
  color: #9624c7e0;
  font-weight: 600;
}

.swiper-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-swiper-buttons{
  position: relative;
  width: 50%;
  height: 50px;
}

.container-swiper-buttons .swiper-button-next,
.container-swiper-buttons .swiper-button-prev{
  transition: all .3s ease;
}

.swiper-button-prev,
.swiper-button-next{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
  transform: scale(1.08) 
}

.swiper-button-prev::after{
  content: '';
  background: url('/assets/home-section/testimonials/arrow.svg');
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.swiper-button-next::after{
  content: '';
  background: url('/assets/home-section/testimonials/arrow.svg');
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.testimonials-deco-1,
.testimonials-deco-2,
.testimonials-deco-3,
.testimonials-deco-4{
  position: absolute;
  z-index: 0;
  opacity: .4;
  pointer-events: none;
  user-select: none;
  filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, .2));
}

.testimonials-deco-1{
  width: 50px;
  height: 50px;
  top: 80px;
  left: 20px;
}

.testimonials-deco-2{
  bottom: 0px;
  left: -70px;
}

.testimonials-deco-3{
  width: 200px;
  height: 200px;
  right: -70px;
  top: -70px;
}

.testimonials-deco-4{
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
}

.border{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, var(--background-color-1) , rgba(245, 245, 245, .1) 80%);
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){

  .testimonials-section{

    padding: 40px 30px;
    padding-top: 20px;
    
  }

  .swiper-wrapper{
    margin-bottom: 10px;
  }

  .swiper{
    width: 70%;
  }

  .container-swiper-buttons{
    position: absolute;
    width: 100%;
  }

  .testimonials-deco-1,
  .testimonials-deco-2,
  .testimonials-deco-3,
  .testimonials-deco-4{
    opacity: .6;
  }
}

@media (min-width: 1024px){

  .swiper{
    width: 60%;
  }
  
  .testimonial-text{
    font-size: calc(var(--font-size-regular));
  }
  
  .testimonial-name{
    font-size: calc(var(--font-size-regular));

  }

  .container-swiper-buttons{
    position: absolute;
    width: 90%;
  }

  .testimonials-deco-4{
    bottom: 80px;
    right: 80px;
  }
  
}

@media (min-width: 1280px){

 
}

@media (min-width: 1920px){
  .swiper{
    width: 60%;
  }
  
}