<section class="testimonials-section">

  <div class="testimonials-carousel-cont">
      <swiper-container 
      [spaceBetween]="50"
      [pagination]="{ clickable: true }"
      class="swiper"
      
      [style]="{
        '--swiper-pagination-bullet-size': '8px',
        '--swiper-pagination-bullet-width': '20px',
        '--swiper-pagination-bullet-height': '4px',
        '--swiper-pagination-bullet-horizontal-gap': '8px',
        '--swiper-pagination-bullet-border-radius': '5px',
        }"
      >
      
          <swiper-slide class="testimonial-background-1">
            <div class="testimonial-content">
              <p class="testimonial-text">“optimizamos nuestros procesos con una solución ágil y eficiente. Su equipo siempre estuvo atento a nuestras necesidades.”</p>
              <h3 class="testimonial-name"><span>Andrés Muñoz</span> - Gerente de Operaciones</h3>
            </div>
          </swiper-slide>
          
      
          <swiper-slide class="testimonial-background-2">
            <div class="testimonial-content">
              <p class="testimonial-text">“Un sistema intuitivo y escalable. La plataforma ha mejorado significativamente la experiencia de nuestros clientes.”</p>
              <h3 class="testimonial-name"><span>Sofía Ramírez</span> - CEO</h3>
            </div>
          </swiper-slide>
          
          <swiper-slide class="testimonial-background-3">
            <div class="testimonial-content">
              <p class="testimonial-text">“Desde que implementamos su software, nuestra productividad aumentó un 40%. Su soporte técnico es rápido y eficiente.”</p>
              <h3 class="testimonial-name"><span>Leonardo Torres</span> - Director de TI</h3>
            </div>
          </swiper-slide>
          <swiper-slide class="testimonial-background-4">
            <div class="testimonial-content">
              <p class="testimonial-text">“Logramos automatizar procesos y reducir costos gracias a su tecnología. Sus soluciones nos ayudaron a mejorar la eficiencia operativa.”</p>
              <h3 class="testimonial-name"><span>Natalia Pérez</span> - CTO</h3>
            </div>
          </swiper-slide>
            
      </swiper-container>
  </div>
  
 
 
  
  <svg class="testimonials-section-background-deco-1" xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="none" viewBox="0 0 24 24" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs"><path fill="rgba(0, 0, 1, 1)" fill-rule="evenodd" d="M3 5a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm7 0a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm7 0a2 2 0 1 1 4 0 2 2 0 0 1-4 0zM3 12a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm7 0a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm7 0a2 2 0 1 1 4 0 2 2 0 0 1-4 0zM3 19a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm7 0a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm7 0a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" clip-rule="evenodd"></path></svg>
  <img class="testimonials-section-background-deco-2" src="/assets/home-section/testimonials/testimonial-background-1.svg" alt="img-testimonials" draggable="false">
  <div class="testimonials-section-background-deco-3"></div>

</section>
