.testimonials-section{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(239, 239, 239);
  font-family: var(--primary-font);
  padding: 40px 30px;
  padding-bottom: 120px;
  overflow: hidden;
  color: black
  
}

.testimonials-title{
  width: 100%;
  justify-content: start;
  align-items: center;
  z-index: 5;
  margin: 30px 0px;
}

.testimonials-title h2{
  font-size: var(--font-size-big);
  background: var(--text-color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonials-carousel-content{
  height: 250px;
  width: 100%;
  margin: 30px 0px;
  box-shadow: -10px 10px 0px rgba(0, 0, 0, .1);
  border-radius: 20px;
  z-index: 5;
}

swiper-container{
  width: 100%;
  height: 100%;
}

swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.testimonial-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 35px;
  z-index: 5;
}

.testimonial-text{
  font-size: var(--font-size-medium);
  opacity: .8;
  font-weight: 400;
}

.testimonial-name{
  font-size: var(--font-size-regular);
  font-weight: 600;
  opacity: .7;
  transition: all .5s linear;
}

.testimonial-name span{
  color: #9624c7e0;
}

.testimonial-background-1,
.testimonial-background-3{
  background: url("/assets/home-section/testimonials/carousel-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.testimonial-background-2,
.testimonial-background-4{
  background: url("/assets/home-section/testimonials/carousel-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.testimonials-section-background-deco-1{
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: .1;
  left: 10%;
  bottom: 20%;
  transform: rotate(60deg);
  user-select: none;
  z-index: 0;
  pointer-events: none;
}

.testimonials-section-background-deco-2{
  position: absolute;
  left: -70px;
  top: -70px;
  width: 200px;
  height: 200px;
  opacity: .2;
  background-image: url("/assets/home-section/testimonials/testimonial-background-2.svg");
  user-select: none;
  z-index: 0;
  pointer-events: none;
}

.testimonials-section-background-deco-3{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 200px;
  height: 200px;
  opacity: .2;
  background-image: url("/assets/home-section/testimonials/testimonial-background-2.svg");
  user-select: none;
  z-index: 0;
  pointer-events: none;
}


.testimonials-wave-content{
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 600px;
  user-select: none;
  pointer-events: none;
}


.testimonials-wave-content svg{
  width: 100%;
  height: 100%;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){

  .testimonials-title h2{
    transform: rotate(-2deg);
  }

  .testimonials-carousel-content{
    width: 80%;
    height: 340px;
    margin: 80px 0px;
    margin-bottom: 80px;
  }

  .testimonial-content{
    padding: 30px 70px;
  }

  .testimonials-section-background-deco-1{
    height: 100px;
    width: 100px;
  }

  .testimonials-section-background-deco-2{
    height: 300px;
    width: 300px;
  }

  .testimonials-section-background-deco-3{
    height: 300px;
    width: 300px;
  }

  .testimonials-wave-content{
    height: 800px;
  }

}

@media (min-width: 1024px){
  .testimonials-title h2{
    transform: rotate(-2deg);
  }

  .testimonials-carousel-content{
    width: 70%;
    height: 420px;
    margin: 100px 0px;
    margin-bottom: 160px;
    box-shadow: -20px 20px 0px rgba(0, 0, 0, .1);
  }

  .testimonial-content{
    padding: 50px 100px;
  }

  .testimonial-text{
    font-weight: 400;
  }

  .testimonials-section-background-deco-1{
    height: 100px;
    width: 100px;
  }

  .testimonials-section-background-deco-2{
    height: 300px;
    width: 300px;
  }

  .testimonials-section-background-deco-3{
    height: 300px;
    width: 300px;
  }

  .testimonials-wave-content{
    height: 1200px;
  }

  .testimonials-wave-content svg{
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1280px){

  .testimonials-carousel-content{
    width: 60%;
    height: 460px;
    margin: 100px 0px;
    margin-bottom: 160px;
    box-shadow: -20px 20px 0px rgba(0, 0, 0, .1);
  }

  .testimonial-content{
    padding: 80px 100px;
  }

  .testimonial-text{
    font-weight: 400;
  }

  .testimonial-content{
    padding: 50px 100px;
  }
}

@media (min-width: 1920px){

  .testimonials-title h2{
    transform: rotate(-2deg);
    background: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .testimonials-carousel-content{
    width: 50%;
    height: 500px;
    margin: 100px 0px;
    margin-bottom: 160px;
    box-shadow: -20px 20px 0px rgba(0, 0, 0, .1);
  }

  .testimonial-content{
    padding: 80px 150px;
  }

  .testimonial-text{
    font-weight: 400;
  }

  .testimonials-section-background-deco-1{
    height: 130px;
    width: 130px;
  }

  .testimonials-section-background-deco-2{
    height: 350px;
    width: 350px;
  }

  .testimonials-section-background-deco-3{
    height: 350px;
    width: 350px;
  }
}