<section class="testimonials-section" >

  <div class="container-swiper"  data-aos="fade-up">
    
    <div class="swiper" #swiperContainer>
      
      <div class="swiper-wrapper">
        
        <div class="swiper-slide">
          <img src="/assets/home-section/testimonials/marks.svg" alt="comillas de testimonio" loading="lazy">
          <p class="testimonial-text">“Logramos optimizar nuestros procesos internos gracias a una solución ágil, eficiente y totalmente adaptada a nuestras necesidades específicas. El equipo de soporte siempre estuvo disponible para resolver dudas y proponer mejoras.”</p>
          <h3 class="testimonial-name"><span>Andrés Muñoz</span> - Gerente de Operaciones</h3>
        </div>
        
        <div class="swiper-slide">
          <img src="/assets/home-section/testimonials/marks.svg" alt="comillas de testimonio" loading="lazy">
          <p class="testimonial-text">“Implementar esta plataforma ha sido una de las mejores decisiones estratégicas que hemos tomado. El sistema es intuitivo, escalable y ha permitido que nuestros clientes disfruten de una experiencia digital más fluida y satisfactoria, aumentando así su nivel de fidelización.”</p>
          <h3 class="testimonial-name"><span>Sofía Ramírez</span> - CEO</h3>
        </div>
        
        <div class="swiper-slide">
          <img src="/assets/home-section/testimonials/marks.svg" alt="comillas de testimonio" loading="lazy">
          <p class="testimonial-text">“Desde que implementamos su software, hemos notado un aumento del 40% en nuestra productividad. El equipo técnico respondió con rapidez a cada requerimiento y nos brindó acompañamiento constante, lo que permitió que cada departamento se adaptara rápidamente a las nuevas herramientas.”</p>
          <h3 class="testimonial-name"><span>Leonardo Torres</span> - Director de TI</h3>
        </div>
        
        <div class="swiper-slide">
          <img src="/assets/home-section/testimonials/marks.svg" alt="comillas de testimonio" loading="lazy">
          <p class="testimonial-text">“Gracias a su tecnología, pudimos automatizar procesos clave y reducir significativamente nuestros costos operativos. La solución se integró perfectamente con nuestros sistemas existentes y nos brindó datos útiles para tomar decisiones más informadas y estratégicas.”</p>
          <h3 class="testimonial-name"><span>Natalia Pérez</span> - CTO</h3>
        </div>
      </div>
      
      <div class="swiper-pagination"></div>
    </div>
    
    <div class="container-swiper-buttons">
      <div class="swiper-button-prev" #prevBtn data-aos="fade-up" data-aos-delay="300"></div>
      <div class="swiper-button-next" #nextBtn data-aos="fade-up" data-aos-delay="300"></div>
    </div>

  </div>

  <img class="testimonials-deco-1" src="/assets/home-section/testimonials/deco-1.svg" alt="" loading="lazy">
  <img class="testimonials-deco-2" src="/assets/home-section/testimonials/deco-2.svg" alt="" loading="lazy">
  <img class="testimonials-deco-3" src="/assets/home-section/testimonials/deco-3.svg" alt="" loading="lazy">

  <div class="border"></div>
</section>