<section class="our-team-section">

    <h3>¡Conoce a Nuestro Equipo!</h3>
    
    <div class="our-team-content">
        
        <app-team-card class="our-team-card"
            teamImg="/assets/about-us-page/our-team/worker-1.jpg"
            name="Andrés Muñoz" 
            position="CEO & Fundador"
        ></app-team-card>
        
        <app-team-card class="our-team-card"
            teamImg="/assets/about-us-page/our-team/worker-2.jpg"
            name="David Herrera" 
            position="Líder de Desarrollo"
        ></app-team-card>
        
        <app-team-card class="our-team-card"
            teamImg="/assets/about-us-page/our-team/worker-3.jpg"
            name="Javier Gómez" 
            position="Director de Tecnología"
        ></app-team-card>
        
        <app-team-card class="our-team-card"
            teamImg="/assets/about-us-page/our-team/worker-4.jpg"
            name="Gabriela Ramírez" 
            position="Directora de Marketing"
        ></app-team-card>
        
        <app-team-card class="our-team-card"
            teamImg="/assets/about-us-page/our-team/worker-5.jpg"
            name="Elena Martínez" 
            position="Directora de Operaciones"
        ></app-team-card>
        
        <app-team-card class="our-team-card"
            teamImg="/assets/about-us-page/our-team/worker-6.jpg"
            name="Clara Medina" 
            position="Directora de Recursos Humanos"
        ></app-team-card>
    </div>

</section>
