.our-team-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color-1);
    font-family: var(--primary-font);
    padding: 60px 30px;
    padding-bottom: 60px;
    overflow: hidden;
}

.our-team-section h3{
    font-size: calc(var(--font-size-medium) + .2rem);
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
}

.our-team-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px 0px;
}

.our-team-card{
    width: 100%;
    height: 100%;
    z-index: 5;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 450px){
    .our-team-card{
        width: 70%;
    }
}

@media (min-width: 700px){

    .our-team-section h3{
        margin-bottom: 70px;
    }
    
    .our-team-card{
        width: 70%;
        gap: 100px 0px;
    }
}

@media (min-width: 900px){
    
    .our-team-content{
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
    }
    
    .our-team-card{
        width: 40%;
    }
}

@media (min-width: 1024px){
    .our-team-section h3{
        margin-bottom: 100px;
    }
}

@media (min-width: 1280px){
    .our-team-content{
        gap: 100px 50px;
    }
}

@media (min-width: 1920px){

    .our-team-section{
        padding: 100px 30px;
    }

    .our-team-section h3{
        font-size: calc(var(--font-size-medium) + .6rem);
    }
    
    .our-team-card{
        width: 25%;
    }
} 