.our-team-section{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color-1);
    font-family: var(--primary-font);
    padding: 40px 30px;
    padding-bottom: 60px;
    overflow: hidden;
}

.our-team-section h2{
    font-size: 30px;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
}

.our-team-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px 0px;
}

.our-team-card{
    width: 100%;
    height: 100%;
    z-index: 5;
}
