<section  class="page-404">

    <div class="page-404-content">
        
        <div class="page-404-title">
            <h1>Lo sentimos</h1>
            <h2>la página que buscas no existe.</h2>
            <button [routerLink]="['/Inicio']">
                <span>Volver a la pagina principal</span>
                <img src="/assets/page-404/arrow.svg" alt="">
            </button>
        </div>

        <div class="page-404-image">
            <img src="/assets/page-404/404.svg" alt="Page Not Found" draggable="false">
        </div>
    </div>

    <div class="page-404-background">
        <img src="/assets/page-404/forms.svg" alt="Page Not Found">
    </div>

</section>

