.mission-vision-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    overflow: hidden;
}

.mission-vision-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mission-content,
.vision-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 40px;
    transition: all .5s ease;
}

.vision-content{
    background: black;
    color: white;
}

.mission-section-title,
.vision-section-title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
}

.mission-content h3,
.vision-content h3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--font-size-medium);
    margin-bottom: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.mission-content h3::after,
.vision-content h3::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all .5s ease;
}

.vision-content h3::after{
    background-color: white;
}

.mission-content h3:hover::after,
.vision-content h3:hover::after{
    width: 200%;
}

.mission-description,
.vision-description{
    font-size: var(--font-size-regular);
    line-height: 1.7;
    opacity: 0;

}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){
    .mission-content,
    .vision-content{
        padding: 100px 10%;
    }

    .mission-description,
    .vision-description{
        font-weight: 300;
    }
}

@media (min-width: 1024px){
    .mission-content,
    .vision-content{
       flex-direction: row;
    }

    .vision-content{
        flex-direction: row-reverse;
    }

    .mission-section-title,
    .vision-section-title{
        width: 40%;
    }

    .mission-section-title{
        justify-content: start;
    }

    .vision-section-title{
        justify-content: end;
    }

    .mission-content h3,
    .vision-content h3{
        font-size: calc(var(--font-size-medium) + 1rem);
    }

    .mission-content h3::after,
    .vision-content h3::after{
        width: 100%;
    }

    .mission-content h3:hover::after,
    .vision-content h3:hover::after{
        width: 150%;
    }


    .mission-description,
    .vision-description{
        width: 60%;
        line-height: 2;
    }

}

@media (min-width: 1280px){

    .mission-content,
    .vision-content{
        padding: 160px 10%;
    }

    .mission-section-title,
    .vision-section-title{
        justify-content: center;
    }

    .mission-content h3,
    .vision-content h3{
        font-size: calc(var(--font-size-medium) + .2rem);
    }

    
}

@media (min-width: 1920px){

    .mission-content,
    .vision-content{
        padding: 200px 10%;
    }

    .mission-content h3,
    .vision-content h3{
        font-size: calc(var(--font-size-medium) + 1rem);
    }

    .mission-description,
    .vision-description{
        font-size: calc(var(--font-size-regular) + .2rem);
    }
} 