.mission-vision-section{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
    overflow: hidden;
}

.mission-vision-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mission-content,
.vision-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 30px;
    transition: all .5s ease;
}

.vision-content{
    background: black;
    color: white;
}

.mission-content h2,
.vision-content h2{
    font-size: 25px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    transition: all .5s ease;
    width: 30%;
    padding-bottom: 10px;
}

.vision-content h2{
    border-bottom: 2px solid white;
}


.mission-content:hover h2,
.vision-content:hover h2{
    width: 50%;
}

.mission-content p,
.vision-content p{
    line-height: 1.7;
    opacity: .9;
}