<section class="mission-vision-section">

    <div class="mission-vision-content">

        <section class="mission-content">
            <h2>Misión</h2>
            <p>En Novatek, nuestra misión es desarrollar soluciones tecnológicas innovadoras que optimicen 
                procesos y potencien el crecimiento de empresas. Nos enfocamos en la calidad, eficiencia y 
                adaptabilidad para ofrecer herramientas que impulsen el éxito de nuestros clientes.
            </p>
        </section>

        <section class="vision-content">
            <h2>Visión</h2>
            <p>Ser una empresa líder en el desarrollo de tecnología, reconocida por la innovación y la excelencia en 
                nuestras soluciones. Buscamos transformar la manera en que las empresas utilizan la tecnología, 
                brindando herramientas que faciliten su evolución y competitividad en un mundo digital.
            </p>
        </section>

    </div>

</section>
