html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.swiper-pagination span{
    transition: all .5s ease;
}

.swiper-pagination .swiper-pagination-bullet-active{
    position: relative;
    border-radius: 20px;
    width: 20px;
    height: 5px;
    bottom: .5px;
    background-color: var(--primary-color);
}

.header-active{
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

