<section class="join-us-section">
    
    <div class="join-us-content">
        
        
        <h2>¡Unete a Nosotros!</h2>
        <p>haz parte de nuestro equipo y ayudanos a mejorar el mundo digital.</p>

        <button>Unirme</button>
        
    </div>

    <img class="join-us-background-deco-1" src="/assets/about-us-page/join-us/computer.svg" alt="join us background deco" draggable="false">
    <img class="join-us-background-deco-2" src="/assets/about-us-page/join-us/space.svg" alt="join us background deco" draggable="false">

    <div class="join-us-background-deco-3"></div>
    <div class="join-us-background-deco-4"></div>
</section>
