<section class="join-us-section">
    
    <div class="join-us-content" data-aos="fade-up">
        
        <div class="join-us-description">
            <h2>¡Únete a Nosotros!</h2>
            <p>Haz parte de nuestro equipo y ayúdanos a mejorar el mundo digital.</p>
            <button [routerLink]="['/Trabaja-con-nosotros']">Unirme</button>
            <img class="join-us-background" src="/assets/about-us-page/join-us/background.svg" alt="" loading="lazy">
        </div>
        
    </div>

    
    <div class="join-us-background-deco-1"></div>
    <div class="join-us-background-deco-2"></div>

</section>
