.join-us-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-1);
    font-family: var(--primary-font);
    padding: 40px 30px;
    overflow: hidden;
}

.join-us-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin: 150px 0px;
    z-index: 5;
}

.join-us-content h2{
    position: relative;
    font-size: var(--font-size-h2);
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s ease;
}

.join-us-content p{
    font-size: var(--font-size-p);
}

.join-us-content button{
    position: relative;
    left:0px;
    top: 0px;
    width: 200px;
    background-color: transparent;
    outline: none;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    font-size: var(--font-size-p);
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -5px 5px 0px var(--primary-color);
    transition: all .3s ease;
    cursor: pointer;
}

.join-us-content button:hover{
    left: 2px;
    top: -2px;
    box-shadow: -10px 10px 0px var(--primary-color);
}

.join-us-background-deco-1{
    position: absolute;
    left: 20px;
    top: 40px;
    width: 100px;
    height: 100px;
    transition: all .5s ease;
    z-index: 1;
    cursor: pointer;
}

.join-us-background-deco-2{
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 100px;
    height: 100px;
    transition: all .5s ease;
    z-index: 1;
    cursor: pointer;
}

.join-us-background-deco-1:hover{
    filter: drop-shadow(0px 0px 20px var(--primary-color));
    transform: scale(1.06);
}

.join-us-background-deco-2:hover{
    filter: drop-shadow(0px 0px 20px var(--secondary-color));
    transform: scale(1.1);
}

.join-us-background-deco-3,
.join-us-background-deco-4{
    position: absolute;
    background: var(--text-color-gradient);
    border-radius: 50%;
    filter: blur(40px);
    z-index: 0;
    opacity: .4;
}

.join-us-background-deco-3{
    width: 150px;
    height: 150px;
    left: 0%;
    bottom: 10%;
}

.join-us-background-deco-4{
    width: 150px;
    height: 150px;
    right: 0%;
    top: 20%;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){
    .join-us-content{
        margin: 200px 0px;
    }

    .join-us-background-deco-1{
        width: 150px;
        height: 150px;
    }
    
    .join-us-background-deco-2{
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 1024px){

    .join-us-content{
        margin: 260px 0px;
        gap: 50px;
    }
    
    .join-us-background-deco-1{
        left: 60px;
        top: 100px;
        width: 200px;
        height: 200px;
    }
    
    .join-us-background-deco-2{
        right: 60px;
        bottom: 30px;
        width: 200px;
        height: 200px;
    }

    .join-us-content button{
        width: 260px;
        padding: 14px;
        font-size: calc(var(--font-size-p) + 0.5rem);
    }

    .join-us-content button:hover{
        left: 6px;
        top: -6px;
        box-shadow: -18px 18px 0px var(--primary-color);
    }
}

@media (min-width: 1280px){
    
}

@media (min-width: 1920px){
    .join-us-background-deco-1{
        left: 120px;
        top: 100px;
    }
    
    .join-us-background-deco-2{
        right: 120px;
        bottom: 30px;
    }
} 