<section class="join-us-section">
    
    <div class="join-us-content">
        
        <h2>¡Únete a Nosotros!</h2>
        <p>Haz parte de nuestro equipo y ayúdanos a mejorar el mundo digital.</p>

        <button [routerLink]="['/Trabaja-con-nosotros']">Unirme</button>
        
    </div>

    <img class="join-us-background-deco-1" src="/assets/about-us-page/join-us/computer.svg" alt="" draggable="false" loading="lazy">
    <img class="join-us-background-deco-2" src="/assets/about-us-page/join-us/planet.svg" alt="" draggable="false" loading="lazy">

    <div class="join-us-background-deco-3"></div>
    <div class="join-us-background-deco-4"></div>

</section>
