.join-us-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-1);
    font-family: var(--primary-font);
    padding: 40px;
    overflow: hidden;
}

.join-us-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, rgb(241, 107, 250), rgb(231, 46, 244));
    z-index: 5;
    padding: 100px 50px;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}

.join-us-description{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    z-index: 5;
    gap: 30px;
    width: 100%;
}

.join-us-description h2{
    position: relative;
    font-size: var(--font-size-big);
    color: white;
    transition: all .5s ease;
    z-index: 5;
}

.join-us-description p{
    font-size: var(--font-size-regular);
    color: white;
    z-index: 5;
}

.join-us-description button{
    position: relative;
    left:0px;
    top: 0px;
    width: 200px;
    background-color: transparent;
    outline: none;
    border: 3px solid white;
    color: white;
    font-size: var(--font-size-regular);
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -5px 5px 0px white;
    transition: all .3s ease;
    cursor: pointer;
    z-index: 5;
}

.join-us-description button:hover{
    left: 2px;
    top: -2px;
    box-shadow: -10px 10px 0px var(--primary-color);
}

.join-us-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 0;
    pointer-events: none;
    object-fit: cover;
}

.join-us-background-deco-1,
.join-us-background-deco-2{
    position: absolute;
    border-radius: 50%;
    background: var(--decoration-color-gradient);
    z-index: 0;
    pointer-events: none;
    filter: blur(50px);
    opacity: .6;
}

.join-us-background-deco-1{
    width: 150px;
    height: 150px;
    left: 0%;
    bottom: 10%;
}

.join-us-background-deco-2{
    width: 150px;
    height: 150px;
    right: 0%;
    top: 20%;
}

@media (max-width: 399px){
    .join-us-content{
        padding: 100px 30px;
    }
}

@media (min-width: 400px){

}

@media (min-width: 700px){

    .join-us-content{
        padding: 80px 50px;
        margin: 100px 0px;
    }

}

@media (min-width: 1024px){

    .join-us-description p{
        font-size: calc(var(--font-size-regular) + .2rem);
        width: 80%;
    }

    .join-us-content button{
        width: 240px;
        padding: 10px;
    }

    .join-us-content button:hover{
        left: 6px;
        top: -6px;
        box-shadow: -10px 14px 0px white;
    }
}

@media (min-width: 1280px){
    
    .join-us-content{
        padding: 80px;
        margin: 100px 0px;
        width: 90%;
    }
}

@media (min-width: 1920px){
    .join-us-background{
        width: 50%;
        height: 100%;
    }
} 