<section class="open-jobs-section">
    
    <div class="open-jobs-content">
        
        <h2 class="open-jobs-title">Descubre nuestras ofertas laborales</h2>

        <div class="open-jobs-arrow"><img src="/assets/work-with-us-page/open-jobs/arrow.svg" alt="icono flecha"></div>

        <div class="job-list-container">

            <li class="job-list">
                
                <ul class="job">
                    <h3>Frontend Developer</h3>
                    <p>Junior</p>
                    <span>Full-time</span>
                    <span>Remote</span>
                </ul>
                
                <ul class="job">
                    <h3>Backend Developer</h3>
                    <p>Senior</p>
                    <span>Full-time</span>
                    <span>Remote</span>
                </ul>

                <ul class="job">
                    <h3>UI/UX Designer</h3>
                    <p>Mid-Level</p>
                    <span>Part-time</span>
                    <span>Hybrid</span>
                </ul>
                
                <ul class="job">
                    <h3>Data Analyst</h3>
                    <p>Entry-Level</p>
                    <span>Full-time</span>
                    <span>On-site</span>
                </ul>
                
                <ul class="job">
                    <h3>DevOps Engineer</h3>
                    <p>Senior</p>
                    <span>Full-time</span>
                    <span>Remote</span>
                </ul>
                
                <ul class="job">
                    <h3>Mobile Developer</h3>
                    <p>Junior</p>
                    <span>Contract</span>
                    <span>Hybrid</span>
                </ul>
                
                <ul class="job">
                    <h3>Product Manager</h3>
                    <p>Senior</p>
                    <span>Full-time</span>
                    <span>On-site</span>
                </ul>
                
                <ul class="job">
                    <h3>Cybersecurity Analyst</h3>
                    <p>Mid-Level</p>
                    <span>Full-time</span>
                    <span>Remote</span>
                </ul>
                
                <ul class="job">
                    <h3>QA Tester</h3>
                    <p>Entry-Level</p>
                    <span>Part-time</span>
                    <span>Remote</span>
                </ul>
                
            </li>
        
        </div>
    
    </div>

</section>

