<section class="open-jobs-section">
    
    <div class="open-jobs-content">
        
        <div class="open-jobs-title">
            <h2>Descubre nuestras ofertas laborales</h2>
        </div>

        <div class="open-jobs-arrow"><img src="/assets/work-with-us-page/open-jobs/arrow.svg" alt="Flecha indicando las ofertas de trabajo"></div>

        <div class="job-list-container">

            <ul class="job-list">
                
                <li class="job">
                    <h3>Frontend Developer</h3>
                    <p>Junior</p>
                    <div>
                        <span>Full-time</span>
                        <span>Remote</span>
                    </div>
                </li>
                
                <li class="job">
                    <h3>Backend Developer</h3>
                    <p>Senior</p>
                    <div>
                        <span>Full-time</span>
                        <span>Remote</span>
                    </div>
                </li>

                <li class="job">
                    <h3>UI/UX Designer</h3>
                    <p>Mid-Level</p>
                    <div>
                        <span>Part-time</span>
                        <span>Hybrid</span>
                    </div>
                </li>
                
                <li class="job">
                    <h3>Data Analyst</h3>
                    <p>Entry-Level</p>
                    <div>
                        <span>Full-time</span>
                        <span>On-site</span>
                    </div>
                </li>
                
                <li class="job">
                    <h3>DevOps Engineer</h3>
                    <p>Senior</p>
                    <div>
                        <span>Full-time</span>
                        <span>Remote</span>
                    </div>
                </li>
                
                <li class="job">
                    <h3>Mobile Developer</h3>
                    <p>Junior</p>
                    <div>
                        <span>Contract</span>
                        <span>Hybrid</span>
                    </div>
                </li>
                
                <li class="job">
                    <h3>Product Manager</h3>
                    <p>Senior</p>
                    <div>
                        <span>Full-time</span>
                        <span>On-site</span>
                    </div>
                </li>
                
                <li class="job">
                    <h3>Cybersecurity Analyst</h3>
                    <p>Mid-Level</p>
                    <div>
                        <span>Full-time</span>
                        <span>Remote</span>
                    </div>
                </li>
                
                <li class="job">
                    <h3>QA Tester</h3>
                    <p>Entry-Level</p>
                    <div>
                        <span>Part-time</span>
                        <span>Remote</span>
                    </div>
                </li>
                
            </ul>
        
        </div>
    
    </div>

</section>

