.open-jobs-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-1);
    padding: 80px 20px;
    font-family: var(--primary-font);
    overflow: hidden;
}

.open-jobs-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px 0px;
}

.open-jobs-title{
    text-align: center;
}

.open-jobs-title h2{
    font-size: var(--font-size-h3);
    font-weight: 600;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.open-jobs-arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.open-jobs-arrow img{
    width: 20px;
    height: 20px;
}

.job-list-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px 0px;
}

.job-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    gap: 40px 0px;
}

.job{
    border-bottom: 2px solid rgba(0, 0, 0, .4);
    padding-bottom: 10px;
    cursor: pointer;
}

.job h3{
    font-size: var(--font-size-h3);
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.job p{
    font-size: var(--font-size-p);
    font-weight: 500;
}

.job span{
    margin-right: 20px;
    opacity: .7;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 580px){
    .open-jobs-section{
        padding: 80px 50px;
    }
}

@media (min-width: 700px){
    .open-jobs-section{
        padding: 80px 50px;
    }
    
}

@media (min-width: 1024px){
    .open-jobs-arrow img{
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1280px){
    .open-jobs-section{
        padding: 80px 60px;
    }

    .open-jobs-arrow img{
        margin-bottom: 50px;
    }

    .job-list{
        width: 90%;
    }
}

@media (min-width: 1920px){
    .job-list{
        width: 80%;
    }
} 