<section class="our-values-section">

    <div class="our-values-content">

        <div class="our-values-description" data-aos="fade-up">
            <h2>Nuestros Valores</h2>

            <ul>
                <li>
                    <img src="/assets/about-us-page/our-values/check.svg" alt="" loading="lazy" draggable="false">
                    <p><strong>Compromiso:</strong> Nos dedicamos con responsabilidad a cada proyecto, cumpliendo con los objetivos y plazos establecidos.</p>
                </li>
                <li>
                    <img src="/assets/about-us-page/our-values/check.svg" alt="" loading="lazy" draggable="false">
                    <p><strong>Innovación:</strong> Buscamos soluciones creativas y modernas que aporten valor real a nuestros clientes.</p>
                </li>
                <li>
                    <img src="/assets/about-us-page/our-values/check.svg" alt="" loading="lazy" draggable="false">
                    <p> <strong>Transparencia:</strong> Mantenemos una comunicación abierta y honesta en cada etapa del proceso.</p>
                </li>
                <li>
                    <img src="/assets/about-us-page/our-values/check.svg" alt="" loading="lazy" draggable="false">
                    <p> <strong>Trabajo en equipo:</strong> Creemos en la colaboración constante para lograr mejores resultados.</p>
                </li>
            </ul>
        </div>
        
        <div class="our-values-image" data-aos="fade-up">
            <img class="values-picture" src="/assets/about-us-page/our-values/values-img.jpg" alt="imagen de nuestros valores" loading="lazy">
            <div class="sign">
                <div class="sign-img">
                    <img  src="/assets/about-us-page/our-values/connection.svg" alt="" loading="lazy" draggable="false">
                </div>
                <p>Tu empresa cuenta con un equipo comprometido que trabaja para proteger tus procesos, impulsar tu crecimiento y apoyarte.</p>
            </div>
        </div>
    </div>

</section>
