.our-values-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    font-family: var(--primary-font);
    overflow: hidden;
}

.our-values-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px 0px;
    margin: 30px 0px;
}

.our-values-description{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px 0px;
    text-align: start;
    width: 100%;
}

.our-values-description h2{
    font-size: var(--font-size-medium);
    font-weight: 600;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: start;
}

.our-values-description p{
    font-size: var(--font-size-regular);
    opacity: .9;
}

.our-values-description strong{
    opacity: .8;
}


.our-values-description ul{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px 0px;
    text-decoration: none;
}

.our-values-description ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0px 10px;
}

.our-values-description ul li img{
    width: 20px;
    height: 20px;
}

.our-values-image{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.our-values-image .values-picture{
    width: 100%;
    border-radius: 20px;
}

.our-values-image .sign{
    position: absolute;
    left: 0px;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 10px 20px;
    gap: 5px 0px;
    width: 80%;
}

.our-values-image .sign .sign-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50%;
}

.our-values-image .sign .sign-img img{
    width: 40px;
    height: 40px;
}

.our-values-image .sign p{
    font-size: var(--font-size-regular);
    color: white;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){

    .our-values-content{
        width: 90%;
    }

    .our-values-description h2{
        font-size: var(--font-size-big);
    }
    
    .our-values-image .sign{
        padding: 20px;
        gap: 20px 0px;
        width: 80%;
    }

}

@media (min-width: 1024px){

    .our-values-content{
        gap: 100px 0px;
    }

    .our-values-description{
        width: 90%;
    }
    
    .our-values-image{
        width: 70%;
    }

    .our-values-image .sign{
        width: 70%;
        padding: 30px;
        gap: 30px 0px;
    }

    .our-values-image .sign .sign-img{
        width: 60px;
        height: 60px;
    }
    
    .our-values-image .sign .sign-img img{
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1280px){

    .our-values-content{
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        gap: 50px 0px;
    }

    .our-values-description{
        width: 40%;
    }

    .our-values-image{
        width: 40%;
    }

    .our-values-description ul{
        gap: 20px 0px;
    }

    .our-values-image .sign{
        justify-content: space-between;
        flex-direction: row;
        width: 80%;
        padding: 30px;
    }
    
    .our-values-image .sign .sign-img{
        width: 50px;
        height: 50px;
    }
    
    .our-values-image .sign .sign-img img{
        width: 40px;
        height: 40px;
    }

    .our-values-image .sign p{
        font-size: var(--font-size-small);
        width: 70%;
        opacity: .9;
    }
    
}

@media (min-width: 1920px){
    .our-values-image{
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 27%;
    }
    
    .our-values-image .values-picture{
        width: 100%;
        border-radius: 20px;
    }

    .our-values-image .sign{
        left: -30px;
        bottom: 30px;
        width: 70%;
    }
} 