.our-values-section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    font-family: var(--primary-font);
    overflow: hidden;
}