.our-team-card-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px 0px;
    border-radius: 10px;
    padding: 30px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    transition: all .5s ease;
    z-index: 5;
    overflow: hidden;
    cursor: pointer;
}

.our-team-card-container .worker-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all .5s ease;
    z-index: 5;
}

.our-team-card-info{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px 0px;
    z-index: 5;
}

.our-team-card-info h3{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    background: var(--text-color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s ease;
}

.our-team-card-info p{
    font-size: var(--font-size-regular);
    font-weight: 600;
    opacity: .8;
    text-align: center;
} 

.our-team-card-deco-1,
.our-team-card-deco-2,
.our-team-card-deco-3{
    position: absolute;
    z-index: 0;
    opacity: .4;
}

.our-team-card-deco-1 img,
.our-team-card-deco-2 img,
.our-team-card-deco-3 img{
    transition: all .4s ease;
}

.our-team-card-deco-1{
    bottom: -40px;
    left: -30px;
}

.our-team-card-deco-1 img{
    width: 100px;
    height: 100px;
    border-radius: 0px;
}

.our-team-card-deco-2{
    top: 20px;
    right: 20px;
}

.our-team-card-deco-2 img{
    width: 50px;
    height: 50px;
    border-radius: 0px;
}

.our-team-card-deco-3{
    bottom: 10px;
    right: 10px;
}

.our-team-card-deco-3 img{
    width: 70px;
    height: 70px;
    border-radius: 0px;
    transform: rotate(20deg);
}

.our-team-card-container:hover{
    box-shadow: 0px 0px 10px var(--primary-color);
}

.our-team-card-container:hover .worker-img{
    transform: scale(1.06);
}

.our-team-card-container:hover .our-team-card-info h3{
    transform: scale(1.06);
}

.our-team-card-container:hover .our-team-card-deco-1 img,
.our-team-card-container:hover .our-team-card-deco-2 img,
.our-team-card-container:hover .our-team-card-deco-3 img{
    scale: .9;
}

@media (max-width: 399px){
    
}

@media (min-width: 400px){

}

@media (min-width: 700px){

    .our-team-card-container{
        padding: 50px 15px;
    }
    
    .our-team-card-container .worker-img{
        width: 120px;
        height: 120px;
    }
    
    .our-team-card-info h3{
        font-size: var(--font-size-medium);
    }
}

@media (min-width: 1024px){
    
    .our-team-card-container{
        padding: 50px 15px;
    }
    
    .our-team-card-container .worker-img{
        width: 120px;
        height: 120px;
       
    }
    
    .our-team-card-info h3{
        font-size: var(--font-size-medium);
    }
}

@media (min-width: 1280px){

    .our-team-card-container .worker-img{
        width: 140px;
        height: 140px;
    }

    .our-team-card-deco-1 img{
        width: 150px;
        height: 150px;
    }
    
    .our-team-card-deco-2 img{
        width: 80px;
        height: 80px;
    }

    .our-team-card-deco-3 img{
        width: 90px;
        height: 90px;
    }
    
}

@media (min-width: 1920px){
    
} 

