<div class="our-team-card-container">
    <img class="worker-img" [src]="teamImg" alt="worker-img" draggable="false"> 

    <div class="our-team-card-info">
        <h3>{{ name }}</h3>
        <p>{{ position}}</p>
    </div>
    
    <div class="our-team-card-deco-1">
        <img  src="/assets/about-us-page/our-team/deco-1.svg" alt="">
    </div>

    <div class="our-team-card-deco-2">
        <img  src="/assets/about-us-page/our-team/deco-2.svg" alt="">
    </div>

    <div class="our-team-card-deco-3">
        <img  src="/assets/about-us-page/our-team/deco-3.svg" alt="">
    </div>


</div>
